{"swagger":"2.0","info":{"version":"1.0","title":"Microsoft Dataverse","description":"Provides access to the environment database in Microsoft Dataverse.","x-ms-api-annotation":{"status":"Production"},"contact":{"name":"Microsoft"}},"host":"logic-apis-westus.azure-apim.net","basePath":"/apim/commondataservice","schemes":["https"],"paths":{"/{connectionId}/$metadata.json/datasets":{"get":{"tags":["CrmDataSetsMetadata"],"operationId":"GetDataSetsMetadata","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataSetsMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}/attachments":{"get":{"tags":["CrmTableAttachments"],"summary":"Retrieves all Notes (annotations) for the provided table Id","description":"Retrieves all Notes (annotations) for the provided table Id.","operationId":"GetItemAttachments","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table for which to get Notes (annotations).","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row for which to get Notes (annotations).","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-all-notes-(annotations)-for-the-provided-table-id"}},"post":{"tags":["CrmTableAttachments"],"summary":"Creates Note (annotation) for specified table row","description":"Creates Note (annotation) for specified table row.","operationId":"CreateAttachment","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table on which to create Note (annotation).","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row on which to create a Note (annotation).","required":true,"x-ms-summary":"Id","type":"integer","format":"int64"},{"name":"displayName","in":"query","description":"Filename.","required":true,"x-ms-summary":"File Name","x-ms-url-encoding":"single","type":"string"},{"name":"body","in":"body","description":"Content of the file.","required":true,"schema":{"format":"binary","type":"string"},"x-ms-summary":"File Content"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#creates-note-(annotation)-for-specified-table-row"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/attachments":{"get":{"tags":["CrmTableAttachments"],"summary":"Retrieves all Notes (annotations) for the provided table row Id","description":"Retrieves all Notes (annotations) for the provided table row Id.","operationId":"GetItemAttachments_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table for which to get Notes (annotations).","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row for which to get Notes (annotations).","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-all-notes-(annotations)-for-the-provided-table-row-id"}},"post":{"tags":["CrmTableAttachments"],"summary":"Creates Note (annotation) for specified table row","description":"Creates Note (annotation) for specified table row.","operationId":"CreateAttachment_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table on which to create Note (annotation).","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row on which to create a Note (annotation).","required":true,"x-ms-summary":"Id","type":"integer","format":"int64"},{"name":"displayName","in":"query","description":"Filename.","required":true,"x-ms-summary":"File Name","x-ms-url-encoding":"single","type":"string"},{"name":"body","in":"body","description":"Content of the file.","required":true,"schema":{"format":"binary","type":"string"},"x-ms-summary":"File Content"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#creates-note-(annotation)-for-specified-table-row"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}/$value":{"get":{"tags":["CrmTableAttachments"],"summary":"Retrieves file content for specified Note (annotation)","description":"Retrieves file content for specified Note (annotation).","operationId":"GetAttachmentContent","consumes":[],"produces":[],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table for which to get Note (annotation) content.","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row for which to get Notes (annotations).","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"},{"name":"attachmentId","in":"path","description":"Note (annotation) id.","required":true,"x-ms-summary":"AttachmentId","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"binary","type":"string"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-file-content-for-specified-note-(annotation)"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}/$value":{"get":{"tags":["CrmTableAttachments"],"summary":"Retrieves file content for specified Note (annotation)","description":"Retrieves file content for specified Note (annotation).","operationId":"GetAttachmentContent_V2","consumes":[],"produces":[],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table for which to get Note (annotation) content.","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row for which to get Notes (annotations).","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"},{"name":"attachmentId","in":"path","description":"Note (annotation) id.","required":true,"x-ms-summary":"AttachmentId","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"binary","type":"string"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-file-content-for-specified-note-(annotation)"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}":{"delete":{"tags":["CrmTableAttachments"],"summary":"Deletes specified attachment on the Note (annotation)","description":"Deletes specified attachment on the Note (annotation).","operationId":"DeleteAttachment","consumes":[],"produces":[],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table on which to delete Note (annotation).","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row on which to delete a Note (annotation).","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"},{"name":"attachmentId","in":"path","description":"Note (annotation) id.","required":true,"x-ms-summary":"AttachmentId","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK"},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#deletes-specified-attachment-on-the-note-(annotation)"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/attachments/{attachmentId}":{"delete":{"tags":["CrmTableAttachments"],"summary":"Deletes specified attachment on the Note (annotation)","description":"Deletes specified attachment on the Note (annotation).","operationId":"DeleteAttachment_V2","consumes":[],"produces":[],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Table on which to delete Note (annotation).","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"id","in":"path","description":"Id of the table row on which to delete a Note (annotation).","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"},{"name":"attachmentId","in":"path","description":"Note (annotation) id.","required":true,"x-ms-summary":"AttachmentId","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK"},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#deletes-specified-attachment-on-the-note-(annotation)"}}},"/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}":{"get":{"tags":["CrmTableMetadata"],"summary":"Get table metadata","description":"Gets table metadata","operationId":"GetTable","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Table Name","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata"}}},"/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')":{"get":{"tags":["CrmTableMetadata"],"operationId":"ODataStyleGetTable","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal"}},"/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}/postitem":{"get":{"tags":["CrmTableMetadata"],"summary":"Get metadata of a table for post operation","description":"Get metadata of a table for post operation.","operationId":"GetMetadataForPostItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-summary":"Environment","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Select atable","required":true,"x-ms-summary":"Table Name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-post-operation"}}},"/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')/postitem":{"get":{"tags":["CrmTableMetadata"],"summary":"Get metadata of a table for post operation","description":"Get metadata of a table for post operation.","operationId":"ODataStyleGetMetadataForPostItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"dataset name.","required":true,"x-ms-summary":"dataset name","x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table name","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-post-operation"}}},"/{connectionId}/$metadata.json/datasets/{dataset}/tables/{table}/patchitem":{"get":{"tags":["CrmTableMetadata"],"summary":"Get metadata of a table for patch operation","description":"Get metadata of a table for patch operation.","operationId":"GetMetadataForPatchItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-summary":"Environment","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-summary":"Table Name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-patch-operation"}}},"/{connectionId}/$metadata.json/datasets('{dataset}')/tables('{table}')/patchitem":{"get":{"tags":["CrmTableMetadata"],"summary":"Get metadata of a table for patch operation","description":"Get metadata of a table for patch operation.","operationId":"ODataStyleGetMetadataForPatchItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"dataset name.","required":true,"x-ms-summary":"dataset name","x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table name","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-metadata-of-a-table-for-patch-operation"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/items/{item}/MultiSelect":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for multi select column metadata","description":"Retrieves the metadata for multi select column metadata.","operationId":"GetMultiSelectMetadata","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"org name","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"}}},"/{connectionId}/datasets('{dataset}')/tables('{table}')/items('{item}')/MultiSelect":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for multi select column metadata","description":"Retrieves the metadata for multi select column metadata.","operationId":"ODataStyleGetMultiSelectMetadata","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"org name","x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table name","x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{item}/MultiSelect":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for multi select column metadata","description":"Retrieves the metadata for multi select column metadata.","operationId":"GetMultiSelectMetadata_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"org name","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"}}},"/{connectionId}/v2/datasets('{dataset}')/tables('{table}')/items('{item}')/MultiSelect":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for multi select column metadata","description":"Retrieves the metadata for multi select column metadata.","operationId":"ODataStyleGetMultiSelectMetadata_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"org name","x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table name","x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-multi-select-column-metadata"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/items/{item}/OptionSet/{type}":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for choice column metadata","description":"Retrieves the metadata for choice column metadata.","operationId":"GetOptionSetMetadata","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"},{"name":"type","in":"path","description":"type of choice.","required":true,"x-ms-summary":"type of choice","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"}}},"/{connectionId}/datasets('{dataset}')/tables('{table}')/items('{item}')/OptionSet('{type}')":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for choice column metadata","description":"Retrieves the metadata for choice column metadata.","operationId":"ODataStyleGetOptionSetMetadata","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"Dataset","x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table","x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"},{"name":"type","in":"path","description":"type of choice.","required":true,"x-ms-summary":"type of choice","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{item}/OptionSet/{type}":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for choice column metadata","description":"Retrieves the metadata for choice column metadata.","operationId":"GetOptionSetMetadata_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"Dataset","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"},{"name":"type","in":"path","description":"type of choice.","required":true,"x-ms-summary":"type of choice","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"}}},"/{connectionId}/v2/datasets('{dataset}')/tables('{table}')/items('{item}')/OptionSet('{type}')":{"get":{"tags":["CrmTableMetadata"],"summary":"Retrieves the metadata for choice column metadata","description":"Retrieves the metadata for choice column metadata.","operationId":"ODataStyleGetOptionSetMetadata_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"org name.","required":true,"x-ms-summary":"Dataset","x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"table name.","required":true,"x-ms-summary":"Table","x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"path","description":"id.","required":true,"x-ms-summary":"id","type":"string"},{"name":"type","in":"path","description":"type of choice.","required":true,"x-ms-summary":"type of choice","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Object"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-the-metadata-for-choice-column-metadata"}}},"/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}":{"get":{"tags":["CrmTableMetadataV2"],"summary":"Get table metadata","description":"Gets table metadata","operationId":"GetTable_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select atable","required":true,"x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Table Name","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata"}}},"/{connectionId}/v2/$metadata.json/datasets('{dataset}')/tables('{table}')":{"get":{"tags":["CrmTableMetadataV2"],"operationId":"ODataStyleGetTable_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"}}},"/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}/postitem":{"get":{"tags":["CrmTableMetadataV2"],"summary":"Get table metadata - Post","description":"Gets table metadata for post operation","operationId":"GetMetadataForPostItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Table Name","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata---post"}}},"/{connectionId}/v2/$metadata.json/datasets('{dataset}')/tables('{table}')/postitem":{"get":{"tags":["CrmTableMetadataV2"],"operationId":"ODataStyleGetMetadataForPostItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"}}},"/{connectionId}/v2/$metadata.json/datasets/{dataset}/tables/{table}/patchitem":{"get":{"tags":["CrmTableMetadataV2"],"summary":"Get table metadata - Patch","description":"Gets table metadata for patch operation","operationId":"GetMetadataForPatchItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","x-ms-summary":"Table Name","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-table-metadata---patch"}}},"/{connectionId}/v2/$metadata.json/datasets('{dataset}')/tables('{table}')/patchitem":{"get":{"tags":["CrmTableMetadataV2"],"operationId":"ODataStyleGetMetadataForPatchItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","required":true,"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TableMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Preview"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/onnewitemswebhook":{"post":{"tags":["CrmWHTrigger"],"summary":"When a row is added","description":"Triggers a flow when a row is added in Dataverse.","operationId":"SubscribeOnNewItems","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Environment","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Table Name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"scope","in":"query","description":"Scope.","required":true,"x-ms-summary":"Scope","x-ms-dynamic-values":{"operationId":"GetScopeFilters","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}}},"x-ms-url-encoding":"single","type":"string"},{"name":"subscriptionRequest","in":"body","description":"Subscription request.","required":true,"schema":{"$ref":"#/definitions/SubscriptionRequest"},"x-ms-summary":"Subscription request"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubscriptionResponse"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"single","x-ms-api-annotation":{"status":"Production"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-added-%5bdeprecated%5d"}},"x-ms-notification-content":{"description":"Item","schema":{"$ref":"#/definitions/Item"},"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/datasets/{dataSet}/tables/{table}/onnewitemswebhook/{id}":{"delete":{"tags":["CrmWHTrigger"],"summary":"Deletes subscription for OnNewItems","description":"This operation deletes existing subscription for OnNewItems.","operationId":"UnsubscribeOnNewItems","consumes":[],"produces":[],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataSet","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Select an Environment","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Select a table","type":"string"},{"name":"id","in":"path","description":"Id of subscription to be deleted.","required":true,"x-ms-summary":"Id of subscription to be deleted","type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#deletes-subscription-for-onnewitems-%5bdeprecated%5d"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/onupdateditemswebhook":{"post":{"tags":["CrmWHTrigger"],"summary":"When a row is modified","description":"Triggers a flow when a row is modified in Dataverse.","operationId":"SubscribeOnUpdatedItems","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Environment","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Table Name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"scope","in":"query","description":"Scope.","required":true,"x-ms-summary":"Scope","x-ms-dynamic-values":{"operationId":"GetScopeFilters","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}}},"x-ms-url-encoding":"single","type":"string"},{"name":"subscriptionRequest","in":"body","description":"Subscription request.","required":true,"schema":{"$ref":"#/definitions/UpdateTriggerSubscriptionRequest"},"x-ms-summary":"Subscription request","x-ms-visibility":"advanced"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubscriptionResponse"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"single","x-ms-api-annotation":{"status":"Production"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-modified-%5bdeprecated%5d"}},"x-ms-notification-content":{"description":"Item","schema":{"$ref":"#/definitions/Item"},"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/datasets/{dataset}/tables/{table}/attributefilters":{"get":{"tags":["CrmWHTrigger"],"summary":"Get column filters","description":"Returns list of column filters.","operationId":"GetAttributeFilters","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Environment","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Table Name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-column-filters-%5bdeprecated%5d"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/scopefilters":{"get":{"tags":["CrmWHTrigger"],"summary":"Get scope filters for a given table","description":"Returns list of scope filters.","operationId":"GetScopeFilters","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Environment","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Table Name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-scope-filters-for-a-given-table-%5bdeprecated%5d"}}},"/{connectionId}/datasets/{dataSet}/tables/{table}/onupdateditemswebhook/{id}":{"delete":{"tags":["CrmWHTrigger"],"summary":"Deletes subscription for OnUpdatedItems","description":"This operation deletes existing subscription for OnUpdatedItems.","operationId":"UnsubscribeOnUpdatedItems","consumes":[],"produces":[],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataSet","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Select an Environment","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Select a table","type":"string"},{"name":"id","in":"path","description":"Id of subscription to be deleted.","required":true,"x-ms-summary":"Id of subscription to be deleted","type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#deletes-subscription-for-onupdateditems-%5bdeprecated%5d"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/ondeleteditemswebhook":{"post":{"tags":["CrmWHTrigger"],"summary":"When a row is deleted","description":"Triggers a flow when a row is deleted in Dataverse.","operationId":"SubscribeOnDeletedItems","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Environment","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Table Name","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-url-encoding":"double","type":"string"},{"name":"scope","in":"query","description":"Scope.","required":true,"x-ms-summary":"Scope","x-ms-dynamic-values":{"operationId":"GetScopeFilters","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}}},"x-ms-url-encoding":"single","type":"string"},{"name":"subscriptionRequest","in":"body","description":"Subscription request.","required":true,"schema":{"$ref":"#/definitions/SubscriptionRequest"},"x-ms-summary":"Subscription request"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SubscriptionResponse"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"single","x-ms-api-annotation":{"status":"Production"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-deleted-%5bdeprecated%5d"}},"x-ms-notification-content":{"description":"Item","schema":{"$ref":"#/definitions/Item"},"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/datasets/{dataSet}/tables/{table}/ondeleteditemswebhook/{id}":{"delete":{"tags":["CrmWHTrigger"],"summary":"Deletes subscription for OnDeletedItems","description":"This operation deletes existing subscription for OnDeletedItems.","operationId":"UnsubscribeOnDeletedItems","consumes":[],"produces":[],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataSet","in":"path","description":"Select an Environment.","required":true,"x-ms-summary":"Select an Environment","type":"string"},{"name":"table","in":"path","description":"Select a table.","required":true,"x-ms-summary":"Select a table","type":"string"},{"name":"id","in":"path","description":"Id of subscription to be deleted.","required":true,"x-ms-summary":"Id of subscription to be deleted","type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"500":{"description":"Internal Server Error"},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#deletes-subscription-for-ondeleteditems-%5bdeprecated%5d"}}},"/{connectionId}/v2/datasets":{"get":{"tags":["CrmDataSetV2"],"operationId":"GetDataSets_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataSetsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/datasets/{dataset}/tables/{table}/items/{id}":{"get":{"tags":["CrmTableData"],"summary":"Gets a row from table","description":"Gets a row from table","operationId":"GetItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-summary":"Environment","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-summary":"Table Name","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"id","in":"path","description":"Identifier for the row","required":true,"x-ms-summary":"Item identifier","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetTable","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"advanced","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#gets-a-row-from-table-%5bdeprecated%5d"}},"delete":{"tags":["CrmTableData"],"summary":"Delete a row (legacy)","description":"This operation deletes a row from a table collection","operationId":"DeleteItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"id","in":"path","description":"Identifier for the row","required":true,"x-ms-url-encoding":"double","x-ms-summary":"Item identifier","type":"string"}],"responses":{"200":{"description":"OK"},"default":{"description":"Operation Failed."}},"deprecated":true,"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#delete-a-row-(legacy)-%5bdeprecated%5d"}},"patch":{"tags":["CrmTableData"],"summary":"Update a row (Deprecated)","description":"This operation updates an existing row for a table","operationId":"PatchItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"id","in":"path","description":"Identifier for the row","required":true,"x-ms-url-encoding":"double","x-ms-summary":"Row identifier","type":"string"},{"name":"item","in":"body","description":"Row to update","required":true,"schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetMetadataForPatchItem","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}},"x-ms-summary":"Row Item"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetMetadataForPatchItem","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}}},"default":{"description":"Operation Failed."}},"deprecated":true,"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#update-a-row-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}":{"get":{"tags":["CrmTableDataV2"],"summary":"Get row (legacy)","description":"This operation retrieves the specified row for a table","operationId":"GetItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"id","in":"path","description":"Identifier for the row","required":true,"x-ms-url-encoding":"double","x-ms-summary":"Item identifier","type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetTable_V2","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Production"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#get-row-(legacy)-%5bdeprecated%5d"}},"delete":{"tags":["CrmTableDataV2"],"summary":"Delete a row (legacy)","description":"This operation deletes a row from a table collection","operationId":"DeleteItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"id","in":"path","description":"Identifier for the row","required":true,"x-ms-url-encoding":"double","x-ms-summary":"Item identifier","type":"string"}],"responses":{"200":{"description":"OK"},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Production"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#delete-a-row-(legacy)-%5bdeprecated%5d"}},"patch":{"tags":["CrmTableDataV2"],"summary":"Update a row (legacy)","description":"This operation updates an existing row for a table","operationId":"PatchItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets_V2","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"id","in":"path","description":"Identifier for the row","required":true,"x-ms-url-encoding":"double","x-ms-summary":"Row identifier","type":"string"},{"name":"item","in":"body","description":"Row to update","required":true,"schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetMetadataForPatchItem_V2","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}},"x-ms-summary":"Row Item"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetMetadataForPatchItem_V2","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Production"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#update-a-row-(legacy)-%5bdeprecated%5d"}}},"/{connectionId}/datasets({dataset})/tables({table})/items":{"get":{"tags":["CrmTableDataV2"],"operationId":"ODataStyleGetItems_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"$apply","in":"query","description":"A sequence of OData aggregation transformations","required":false,"x-ms-summary":"Aggregation transformation","x-ms-visibility":"advanced","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"advanced","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"advanced","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"advanced","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$expand","in":"query","description":"Related entries to include with requested entries (default = none)","required":false,"x-ms-summary":"Expand Query","x-ms-visibility":"advanced","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-pageable":{"nextLinkName":"@odata.nextLink"},"x-ms-api-annotation":{"status":"Production"}},"post":{"tags":["CrmTableDataV2"],"operationId":"ODataStylePostItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"item","in":"body","required":true,"schema":{"$ref":"#/definitions/Item"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Production"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/items":{"get":{"tags":["CrmTableData"],"summary":"List rows (Deprecated)","description":"This operation gets rows for a table","operationId":"GetItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"advanced","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"advanced","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"advanced","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$expand","in":"query","description":"Related entries to include with requested entries (default = none)","required":false,"x-ms-summary":"Expand Query","x-ms-visibility":"advanced","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-pageable":{"nextLinkName":"@odata.nextLink"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#list-rows-(deprecated)-%5bdeprecated%5d"}},"post":{"tags":["CrmTableData"],"summary":"Add a new row (Deprecated)","description":"This operation adds a new row of a table","operationId":"PostItem","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"item","in":"body","description":"Row to create","required":true,"schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetMetadataForPostItem","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}},"x-ms-summary":"Row Item"}],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetMetadataForPostItem","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#add-a-new-row-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/datasets/{dataset}/tables":{"get":{"tags":["CrmTable"],"summary":"Gets entities","description":"This operation gets the list of entities","operationId":"GetTables","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TablesList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#gets-entities-%5bdeprecated%5d"}}},"/{connectionId}/v2/datasets/{dataset}/tables":{"get":{"tags":["CrmTableV2"],"operationId":"GetTables_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-path":"Name","value-title":"DisplayName"},"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TablesList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal"}},"/{connectionId}/datasets/{dataset}/tables/{table}/onnewitems":{"get":{"tags":["CrmTableDataTrigger"],"summary":"When a row is added (Admin Only) (Deprecated)","description":"Triggers a flow when a row is added in Dataverse","operationId":"GetOnNewItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, add a new row in the Dataverse table you selected.","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-added-(admin-only)-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/onnewitems":{"get":{"tags":["CrmTableDataTriggerV2"],"summary":"When a row is added (Admin Only) (Deprecated)","description":"Triggers a flow when a row is added in Dataverse","operationId":"GetOnNewItems_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, add a new row in the Dataverse table you selected.","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-added-(admin-only)-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/onupdateditems":{"get":{"tags":["CrmTableDataTrigger"],"summary":"When a row is modified (Admin Only) (Deprecated)","description":"Triggers a flow when a row is modified in Dataverse","operationId":"GetOnUpdatedItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, edit a row in the Dataverse table you selected.","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-modified-(admin-only)-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/onupdateditems":{"get":{"tags":["CrmTableDataTriggerV2"],"summary":"When a row is modified (Admin Only) (Deprecated)","description":"Triggers a flow when a row is modified in Dataverse","operationId":"GetOnUpdatedItems_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, add or edit a row in the Dataverse table you selected.","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-modified-(admin-only)-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/datasets/{dataset}/tables/{table}/ondeleteditems":{"get":{"tags":["CrmTableDataTrigger"],"summary":"When a row is deleted (Admin Only) (Deprecated)","description":"Triggers a flow when a row is deleted in Dataverse","operationId":"GetOnDeletedItems","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"important","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, delete a row in the Dataverse table you selected.","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-deleted-(admin-only)-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/ondeleteditems":{"get":{"tags":["CrmTableDataTriggerV2"],"summary":"When a row is deleted (Admin Only) (Deprecated)","description":"Triggers a flow when a row is deleted in Dataverse","operationId":"GetOnDeletedItems_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Environment","type":"string"},{"name":"table","in":"path","description":"Select a table","required":true,"x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"x-ms-summary":"Table Name","type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, delete a row in the Dataverse table you selected.","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#when-a-row-is-deleted-(admin-only)-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/datasets":{"get":{"tags":["CrmDataSetV2"],"operationId":"GetDataSets","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/DataSetsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/datasets({dataset})/tables({table})/onnewitems":{"get":{"tags":["CrmTableDataTriggerV2"],"operationId":"ODataStyleGetOnNewItems_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, add a new row in the Dataverse table you selected."}},"/{connectionId}/datasets({dataset})/tables({table})/onupdateditems":{"get":{"tags":["CrmTableDataTriggerV2"],"operationId":"ODataStyleGetOnUpdatedItems_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, add or edit a row in the Dataverse table you selected."}},"/{connectionId}/datasets({dataset})/tables({table})/ondeleteditems":{"get":{"tags":["CrmTableDataTriggerV2"],"operationId":"ODataStyleGetOnDeletedItems_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"$filter","in":"query","description":"An ODATA filter query to restrict the entries returned (e.g. stringColumn eq 'string' OR numberColumn lt 123).","required":false,"x-ms-summary":"Filter Query","x-ms-visibility":"internal","type":"string"},{"name":"$orderby","in":"query","description":"An ODATA orderBy query for specifying the order of entries.","required":false,"x-ms-summary":"Order By","x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Total number of entries to retrieve (default = all).","required":false,"x-ms-summary":"Top Count","x-ms-visibility":"internal","type":"integer","format":"int32"},{"name":"$skip","in":"query","description":"The number of entries to skip (default = 0).","required":false,"x-ms-summary":"Skip Count","x-ms-visibility":"internal","type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-trigger":"batch","x-ms-trigger-hint":"To see it work now, delete a row in the Dataverse table you selected."}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/Collection/{collectionType}/{relationship}/TargetTable/{target}":{"get":{"tags":["CrmTableDataV2"],"summary":"Retrieves all collection valued relationship items as an expand would","description":"Retrieves all collection valued relationship items as an expand would","operationId":"GetCollectionRelationships_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-summary":"Dataset","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"table","in":"path","description":"Name of the table","required":true,"x-ms-summary":"Table","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"id","in":"path","description":"Id of the table row","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"},{"name":"collectionType","in":"path","description":"many to many or not","required":true,"x-ms-summary":"Collection","x-ms-url-encoding":"double","type":"string"},{"name":"relationship","in":"path","description":"Relationship on which to expand","required":true,"x-ms-summary":"Relationship","x-ms-url-encoding":"double","type":"string"},{"name":"target","in":"path","description":"Target table","required":true,"x-ms-summary":"Target","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#retrieves-all-collection-valued-relationship-items-as-an-expand-would-%5bdeprecated%5d"}}},"/{connectionId}/v2/datasets/{dataset}/tables/{table}/items/{id}/Relationship/{relationship}":{"delete":{"tags":["CrmTableDataV2"],"summary":"Disassociates a row from a single-valued relationship","description":"Disassociates a row from a single-valued relationship","operationId":"DisassociateSingleValueRecordDeleteItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-summary":"Dataset","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"table","in":"path","description":"Name of the table","required":true,"x-ms-summary":"Table","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"id","in":"path","description":"Id of the table row","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"},{"name":"relationship","in":"path","description":"Relationship on which to associate","required":true,"x-ms-summary":"Relationship","x-ms-url-encoding":"double","type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#disassociates-a-row-from-a-single-valued-relationship-%5bdeprecated%5d"}},"patch":{"tags":["CrmTableDataV2"],"summary":"Associates one row to another on the provided relationship","description":"Associates one row to another on the provided relationship","operationId":"AssociateRecordsPatchItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","description":"Select an Environment","required":true,"x-ms-summary":"Dataset","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetDataSets","parameters":{},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"table","in":"path","description":"Name of the table","required":true,"x-ms-summary":"Table","x-ms-url-encoding":"double","x-ms-dynamic-values":{"operationId":"GetTables","parameters":{"dataset":{"parameter":"dataset"}},"value-collection":"value","value-path":"Name","value-title":"DisplayName"},"type":"string"},{"name":"id","in":"path","description":"Id of the table row","required":true,"x-ms-summary":"Id","x-ms-url-encoding":"double","type":"string"},{"name":"relationship","in":"path","description":"Relationship on which to associate","required":true,"x-ms-summary":"Relationship","x-ms-url-encoding":"double","type":"string"},{"name":"item","in":"body","description":"new row","required":true,"schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/Item"},"x-ms-dynamic-schema":{"operationId":"GetMetadataForPostItem_V2","parameters":{"dataset":{"parameter":"dataset"},"table":{"parameter":"table"}},"value-path":"Schema/Items"}},"x-ms-summary":"new row"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/commondataservice/#associates-one-row-to-another-on-the-provided-relationship-%5bdeprecated%5d"}}},"/{connectionId}/datasets({dataset})/tables({table})/items({id})":{"get":{"tags":["CrmTableDataV2"],"operationId":"ODataStyleGetItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Production"}},"delete":{"tags":["CrmTableDataV2"],"operationId":"ODataStyleDeleteItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"default":{"description":"Operation Failed."}},"deprecated":true,"x-ms-visibility":"internal","x-ms-api-annotation":{"status":"Production"}},"patch":{"tags":["CrmTableDataV2"],"operationId":"ODataStylePatchItem_V2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"dataset","in":"path","required":true,"type":"string"},{"name":"table","in":"path","required":true,"type":"string"},{"name":"id","in":"path","required":true,"type":"string"},{"name":"item","in":"body","req
[...]
