{"swagger":"2.0","info":{"title":"DocuWare","description":"Access common DocuWare features from within your flows.","contact":{"name":"DocuWare GmbH","url":"https://support.docuware.com","email":"support@docuware.com"},"version":"1.0.0","x-ms-api-annotation":{"status":"Production"}},"host":"logic-apis-westus.azure-apim.net","basePath":"/apim/docuware","schemes":["https"],"consumes":[],"produces":[],"paths":{"/{connectionId}/Organizations":{},"/{connectionId}/FileCabinets/{FileCabinet}/Documents":{"post":{"consumes":["multipart/form-data"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Sections":{"type":"array","items":{"type":"object","properties":{"SignatureStatus":{"type":"array","items":{"type":"string"},"description":"SignatureStatus"},"SectionId":{"type":"string","description":"SectionId"},"ContentType":{"type":"string","description":"ContentType"},"HaveMorePages":{"type":"boolean","description":"HaveMorePages"},"PageCount":{"type":"integer","format":"int32","description":"PageCount"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"OriginalFileName":{"type":"string","description":"OriginalFileName"},"ContentModified":{"type":"string","description":"ContentModified"},"HasTextAnnotation":{"type":"boolean","description":"HasTextAnnotation"},"AnnotationsPreview":{"type":"boolean","description":"AnnotationsPreview"}}},"description":"Sections"},"DocumentId":{"type":"integer","format":"int32","description":"DocumentId"},"IndexFields":{"type":"object","additionalProperties":{},"description":"IndexFields"},"DocumentTitle":{"type":"string","description":"DocumentTitle"},"FileCabinetId":{"type":"string","description":"FileCabinetId"},"TotalPages":{"type":"integer","format":"int32","description":"TotalPages"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"ContentType":{"type":"string","description":"ContentType"},"VersionStatus":{"type":"string","description":"VersionStatus"},"DocumentFlags":{"type":"object","properties":{"isCold":{"type":"boolean","description":"isCold"},"isDBRecord":{"type":"boolean","description":"isDBRecord"},"isCheckedOut":{"type":"boolean","description":"isCheckedOut"},"isCopyRightProtected":{"type":"boolean","description":"isCopyRightProtected"},"isVoiceAvailable":{"type":"boolean","description":"isVoiceAvailable"},"hasAppendedDocuments":{"type":"boolean","description":"hasAppendedDocuments"},"isProtected":{"type":"boolean","description":"isProtected"},"isDeleted":{"type":"boolean","description":"isDeleted"},"isEmail":{"type":"boolean","description":"isEmail"}},"description":"DocumentFlags"}}}}},"summary":"Store to file cabinet","description":"Stores a new document to a file cabinet.","operationId":"StoreToFileCabinet","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"FileCabinet"}},"description":"Select the File Cabinet to store to.","x-ms-summary":"File Cabinet","x-ms-url-encoding":"single"},{"name":"StoreDialogId","in":"query","type":"string","required":true,"description":"Select the store dialog to use for storing.","x-ms-summary":"Store Dialog","x-ms-dynamic-values":{"operationId":"GetDialogs","value-path":"Guid","value-collection":"Dialogs","value-title":"Name","parameters":{"FileCabinet":{"parameter":"FileCabinet"},"DialogType":"Store"}}},{"name":"index","in":"formData","type":"string","required":false,"description":"Specify the index data for the document.","x-ms-summary":"Index Data"},{"name":"file","in":"formData","type":"file","required":false,"description":"Specify the contents of the file to store.","x-ms-summary":"File Contents"},{"name":"Default","in":"formData","required":true,"type":"string","x-ms-visibility":"internal","default":"{}"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#store-to-file-cabinet"}}},"/{connectionId}/DocumentTrays/{DocumentTray}/Documents":{"post":{"consumes":["multipart/form-data"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Sections":{"type":"array","items":{"type":"object","properties":{"SignatureStatus":{"type":"array","items":{"type":"string"},"description":"SignatureStatus"},"SectionId":{"type":"string","description":"SectionId"},"ContentType":{"type":"string","description":"ContentType"},"HaveMorePages":{"type":"boolean","description":"HaveMorePages"},"PageCount":{"type":"integer","format":"int32","description":"PageCount"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"OriginalFileName":{"type":"string","description":"OriginalFileName"},"ContentModified":{"type":"string","description":"ContentModified"},"HasTextAnnotation":{"type":"boolean","description":"HasTextAnnotation"},"AnnotationsPreview":{"type":"boolean","description":"AnnotationsPreview"}}},"description":"Sections"},"DocumentId":{"type":"integer","format":"int32","description":"DocumentId"},"IndexFields":{"type":"object","additionalProperties":{},"description":"IndexFields"},"DocumentTitle":{"type":"string","description":"DocumentTitle"},"FileCabinetId":{"type":"string","description":"FileCabinetId"},"TotalPages":{"type":"integer","format":"int32","description":"TotalPages"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"ContentType":{"type":"string","description":"ContentType"},"VersionStatus":{"type":"string","description":"VersionStatus"},"DocumentFlags":{"type":"object","properties":{"isCold":{"type":"boolean","description":"isCold"},"isDBRecord":{"type":"boolean","description":"isDBRecord"},"isCheckedOut":{"type":"boolean","description":"isCheckedOut"},"isCopyRightProtected":{"type":"boolean","description":"isCopyRightProtected"},"isVoiceAvailable":{"type":"boolean","description":"isVoiceAvailable"},"hasAppendedDocuments":{"type":"boolean","description":"hasAppendedDocuments"},"isProtected":{"type":"boolean","description":"isProtected"},"isDeleted":{"type":"boolean","description":"isDeleted"},"isEmail":{"type":"boolean","description":"isEmail"}},"description":"DocumentFlags"}}}}},"summary":"Import to document tray","description":"Import a new document into a document tray.","operationId":"ImportToDocumentTray","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"DocumentTray","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"DocumentTray"}},"x-ms-summary":"Document Tray","description":"Select the Document Tray to import to.","x-ms-url-encoding":"single"},{"name":"StoreDialogId","in":"query","type":"string","required":false,"x-ms-summary":"Store Dialog","x-ms-dynamic-values":{"operationId":"GetDialogs","value-path":"Guid","value-collection":"Dialogs","value-title":"Name","parameters":{"FileCabinet":{"parameter":"DocumentTray"},"DialogType":"Store"}},"description":"Select the store dialog to use during import."},{"name":"index","in":"formData","type":"string","required":false,"x-ms-summary":"Index Data","description":"Specify the index data for the document."},{"name":"file","in":"formData","type":"file","required":false,"x-ms-summary":"File Contents","description":"Specify the contents of the file to import."},{"name":"Default","in":"formData","required":true,"type":"string","x-ms-visibility":"internal","default":"{}"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#import-to-document-tray"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Search":{"post":{"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Count":{"type":"integer","format":"int32","description":"Count"},"Documents":{"type":"array","items":{"type":"object","properties":{"Sections":{"type":"array","items":{},"description":"Sections"},"DocumentId":{"type":"integer","format":"int32","description":"DocumentId"},"IndexFields":{"type":"object","additionalProperties":{},"description":"IndexFields"},"DocumentTitle":{"type":"string","description":"DocumentTitle"},"FileCabinetId":{"type":"string","description":"FileCabinetId"},"TotalPages":{"type":"integer","format":"int32","description":"TotalPages"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"ContentType":{"type":"string","description":"ContentType"},"VersionStatus":{"type":"string","description":"VersionStatus"},"DocumentFlags":{"type":"object","properties":{"isCold":{"type":"boolean","description":"isCold"},"isDBRecord":{"type":"boolean","description":"isDBRecord"},"isCheckedOut":{"type":"boolean","description":"isCheckedOut"},"isCopyRightProtected":{"type":"boolean","description":"isCopyRightProtected"},"isVoiceAvailable":{"type":"boolean","description":"isVoiceAvailable"},"hasAppendedDocuments":{"type":"boolean","description":"hasAppendedDocuments"},"isProtected":{"type":"boolean","description":"isProtected"},"isDeleted":{"type":"boolean","description":"isDeleted"},"isEmail":{"type":"boolean","description":"isEmail"}},"description":"DocumentFlags"}}},"description":"Documents"}}}}},"summary":"Search in file cabinet","description":"Search a file cabinet for documents matching the specified criteria.","operationId":"SearchForDocumentsInFileCabinet","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"FileCabinet"}},"x-ms-summary":"File Cabinet","description":"Select the File Cabinet to search.","x-ms-url-encoding":"single"},{"name":"SearchDialogId","in":"query","type":"string","required":true,"x-ms-summary":"Search Dialog","x-ms-dynamic-values":{"operationId":"GetDialogs","value-path":"Guid","value-collection":"Dialogs","value-title":"Name","parameters":{"FileCabinet":{"parameter":"FileCabinet"},"DialogType":"Search"}},"description":"Select the search dialog to use for searching."},{"name":"SearchQuery","in":"body","required":true,"x-ms-summary":"Search Query","schema":{"x-name":null}}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#search-in-file-cabinet"}}},"/{connectionId}/Organization":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Name":{"type":"string","description":"Name"}}}}},"summary":"Get organization","description":"Get the organization name.","operationId":"GetOrganization","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-organization"}}},"/{connectionId}/FileCabinets":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"FileCabinets":{"type":"array","items":{"type":"object","properties":{"Name":{"type":"string","description":"Name"},"Guid":{"type":"string","description":"Guid"},"Color":{"type":"string","description":"Color"},"IsTray":{"type":"boolean","description":"IsTray"}}},"description":"FileCabinets"}}}}},"summary":"Get file cabinets and document trays","description":"Gets a list of file cabinets and/or document trays.","operationId":"GetFileCabinets","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinetType","in":"query","required":true,"type":"string","description":"Select which types you want returned.","x-ms-summary":"File Cabinet Type","enum":["All","FileCabinet","DocumentTray"],"default":"All"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-file-cabinets-and-document-trays"}}},"/{connectionId}/FileCabinets/{FileCabinetID}/Documents/{DocumentID}":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Sections":{"type":"array","items":{"type":"object","properties":{"SignatureStatus":{"type":"array","items":{"type":"string"},"description":"SignatureStatus"},"SectionId":{"type":"string","description":"SectionId"},"ContentType":{"type":"string","description":"ContentType"},"HaveMorePages":{"type":"boolean","description":"HaveMorePages"},"PageCount":{"type":"integer","format":"int32","description":"PageCount"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"OriginalFileName":{"type":"string","description":"OriginalFileName"},"ContentModified":{"type":"string","description":"ContentModified"},"HasTextAnnotation":{"type":"boolean","description":"HasTextAnnotation"},"AnnotationsPreview":{"type":"boolean","description":"AnnotationsPreview"}}},"description":"Sections"},"DocumentId":{"type":"integer","format":"int32","description":"DocumentId"},"IndexFields":{"type":"object","additionalProperties":{},"description":"IndexFields"},"DocumentTitle":{"type":"string","description":"DocumentTitle"},"FileCabinetId":{"type":"string","description":"FileCabinetId"},"TotalPages":{"type":"integer","format":"int32","description":"TotalPages"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"ContentType":{"type":"string","description":"ContentType"},"VersionStatus":{"type":"string","description":"VersionStatus"},"DocumentFlags":{"type":"object","properties":{"isCold":{"type":"boolean","description":"isCold"},"isDBRecord":{"type":"boolean","description":"isDBRecord"},"isCheckedOut":{"type":"boolean","description":"isCheckedOut"},"isCopyRightProtected":{"type":"boolean","description":"isCopyRightProtected"},"isVoiceAvailable":{"type":"boolean","description":"isVoiceAvailable"},"hasAppendedDocuments":{"type":"boolean","description":"hasAppendedDocuments"},"isProtected":{"type":"boolean","description":"isProtected"},"isDeleted":{"type":"boolean","description":"isDeleted"},"isEmail":{"type":"boolean","description":"isEmail"}},"description":"DocumentFlags"}}}}},"summary":"Get document information","description":"Gets information about a document.","operationId":"GetDocumentInformation","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinetID","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"x-ms-summary":"File Cabinet/Document Tray","description":"Select the File Cabinet or Document Tray with your document.","x-ms-url-encoding":"single"},{"name":"DocumentID","in":"path","required":true,"type":"integer","format":"int32","x-ms-summary":"Document ID","description":"Specify the ID of the document you want information on.","x-ms-url-encoding":"single"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-document-information"}},"delete":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Delete a document","description":"Deletes a document from a file cabinet or document tray.","operationId":"DeleteDocument","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinetID","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"x-ms-summary":"File Cabinet/Document Tray","description":"Select the File Cabinet or Document Tray with your document.","x-ms-url-encoding":"single"},{"name":"DocumentID","in":"path","required":true,"type":"integer","format":"int32","x-ms-summary":"Document ID","description":"Specify the ID of the document you want to delete.","x-ms-url-encoding":"single"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#delete-a-document"}}},"/{connectionId}/FileCabinets/{FileCabinetID}/Documents/{DocumentId}/Sections/{FileNumber}/Download":{"get":{"responses":{"200":{"description":"default","schema":{"type":"string","description":"Body","title":"Body","format":"binary"},"headers":{"Filename":{"description":"Filename","type":"string"}}}},"summary":"Download a file","description":"Downloads a file/section of a document stored in a file cabinet or document tray.","operationId":"DownloadFile","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinetID","in":"path","required":true,"type":"string","description":"Select the File Cabinet or Document Tray with your document.","x-ms-summary":"File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"x-ms-url-encoding":"single"},{"name":"DocumentId","in":"path","required":true,"type":"integer","description":"Specify the ID of the document with the file you want to download.","x-ms-summary":"Document ID","x-ms-url-encoding":"single"},{"name":"FileNumber","in":"path","required":true,"type":"string","description":"Specify the file number of the file you want to download.","x-ms-summary":"File Number","x-ms-url-encoding":"single"},{"name":"DocumentFormat","in":"query","required":true,"type":"string","description":"Select the format for the downloaded document.","x-ms-summary":"Document Format","enum":["Original","PDF with annotations","PDF without annotations"]},{"name":"Accept","in":"header","required":true,"type":"string","default":"*/*","x-ms-visibility":"internal","description":"Accept","x-ms-summary":"Accept"},{"name":"Accept-Encoding","in":"header","required":true,"type":"string","default":"gzip, deflate, br","x-ms-visibility":"internal","description":"Accept-Encoding","x-ms-summary":"Accept-Encoding"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#download-a-file"}}},"/{connectionId}/FileCabinets/{FileCabinetID}/Documents/{DocumentId}/Download":{"get":{"responses":{"200":{"description":"default","schema":{"type":"string","description":"Body","title":"Body","format":"binary"},"headers":{"Filename":{"description":"Filename","type":"string"}}}},"summary":"Download a document","description":"Downloads a document from a file cabinet or document tray.","operationId":"DownloadDocument","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinetID","in":"path","required":true,"type":"string","description":"Select the File Cabinet or Document Tray with your document.","x-ms-summary":"File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"x-ms-url-encoding":"single"},{"name":"DocumentId","in":"path","required":true,"type":"integer","description":"Specify the ID of the document you want to download.","x-ms-summary":"Document ID","x-ms-url-encoding":"single"},{"name":"DocumentFormat","in":"query","required":true,"type":"string","description":"Select the format for the downloaded document.","x-ms-summary":"Document Format","enum":["Original","PDF with annotations","PDF without annotations"]},{"name":"Accept","in":"header","required":true,"type":"string","default":"*/*","x-ms-visibility":"internal","description":"Accept","x-ms-summary":"Accept"},{"name":"Accept-Encoding","in":"header","required":true,"type":"string","default":"gzip, deflate, br","x-ms-visibility":"internal","description":"Accept-Encoding","x-ms-summary":"Accept-Encoding"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#download-a-document"}}},"/{connectionId}/FileCabinets/{FileCabinetID}/Documents/{DocumentID}/Fields":{"put":{"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Sections":{"type":"array","items":{"type":"object","properties":{"SignatureStatus":{"type":"array","items":{"type":"string"},"description":"SignatureStatus"},"SectionId":{"type":"string","description":"SectionId"},"ContentType":{"type":"string","description":"ContentType"},"HaveMorePages":{"type":"boolean","description":"HaveMorePages"},"PageCount":{"type":"integer","format":"int32","description":"PageCount"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"OriginalFileName":{"type":"string","description":"OriginalFileName"},"ContentModified":{"type":"string","description":"ContentModified"},"HasTextAnnotation":{"type":"boolean","description":"HasTextAnnotation"},"AnnotationsPreview":{"type":"boolean","description":"AnnotationsPreview"}}},"description":"Sections"},"DocumentId":{"type":"integer","format":"int32","description":"DocumentId"},"IndexFields":{"type":"object","additionalProperties":{},"description":"IndexFields"},"DocumentTitle":{"type":"string","description":"DocumentTitle"},"FileCabinetId":{"type":"string","description":"FileCabinetId"},"TotalPages":{"type":"integer","format":"int32","description":"TotalPages"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"ContentType":{"type":"string","description":"ContentType"},"VersionStatus":{"type":"string","description":"VersionStatus"},"DocumentFlags":{"type":"object","properties":{"isCold":{"type":"boolean","description":"isCold"},"isDBRecord":{"type":"boolean","description":"isDBRecord"},"isCheckedOut":{"type":"boolean","description":"isCheckedOut"},"isCopyRightProtected":{"type":"boolean","description":"isCopyRightProtected"},"isVoiceAvailable":{"type":"boolean","description":"isVoiceAvailable"},"hasAppendedDocuments":{"type":"boolean","description":"hasAppendedDocuments"},"isProtected":{"type":"boolean","description":"isProtected"},"isDeleted":{"type":"boolean","description":"isDeleted"},"isEmail":{"type":"boolean","description":"isEmail"}},"description":"DocumentFlags"}}}}},"summary":"Update index fields","operationId":"UpdateIndexFields","description":"Updates the index fields of a document.","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinetID","in":"path","required":true,"type":"string","x-ms-summary":"File Cabinet","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"FileCabinet"}},"x-ms-url-encoding":"single","description":"Select the File Cabinet with the document to update."},{"name":"DocumentID","in":"path","required":true,"type":"integer","x-ms-summary":"Document ID","description":"Specify the ID of the document to update.","x-ms-url-encoding":"single"},{"name":"DocumentFields","in":"body","required":true,"x-ms-summary":"Doc Field","schema":{"x-name":null,"type":"array","items":{"type":"object","properties":{"Name":{"x-ms-summary":"Name","description":"Select or specify an index field.","type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinetFields","value-path":"DBFieldName","value-collection":"Fields","value-title":"DisplayName","parameters":{"FileCabinet":{"parameter":"FileCabinetID"},"FieldType":"User"}}},"Value":{"x-ms-summary":"Value","description":"Specify an index value.","type":"string"}}}}}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#update-index-fields"}}},"/{connectionId}/FileCabinets/{DestinationFileCabinetID}/Task/Transfer":{"post":{"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Count":{"type":"integer","format":"int32","description":"Count"},"Documents":{"type":"array","items":{"type":"object","properties":{"Sections":{"type":"array","items":{"type":"object","properties":{"SignatureStatus":{"type":"array","items":{"type":"string"},"description":"SignatureStatus"},"SectionId":{"type":"string","description":"SectionId"},"ContentType":{"type":"string","description":"ContentType"},"HaveMorePages":{"type":"boolean","description":"HaveMorePages"},"PageCount":{"type":"integer","format":"int32","description":"PageCount"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"OriginalFileName":{"type":"string","description":"OriginalFileName"},"ContentModified":{"type":"string","description":"ContentModified"},"HasTextAnnotation":{"type":"boolean","description":"HasTextAnnotation"},"AnnotationsPreview":{"type":"boolean","description":"AnnotationsPreview"}}},"description":"Sections"},"DocumentId":{"type":"integer","format":"int32","description":"DocumentId"},"IndexFields":{"type":"object","additionalProperties":{},"description":"IndexFields"},"DocumentTitle":{"type":"string","description":"DocumentTitle"},"FileCabinetId":{"type":"string","description":"FileCabinetId"},"TotalPages":{"type":"integer","format":"int32","description":"TotalPages"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"ContentType":{"type":"string","description":"ContentType"},"VersionStatus":{"type":"string","description":"VersionStatus"},"DocumentFlags":{"type":"object","properties":{"isCold":{"type":"boolean","description":"isCold"},"isDBRecord":{"type":"boolean","description":"isDBRecord"},"isCheckedOut":{"type":"boolean","description":"isCheckedOut"},"isCopyRightProtected":{"type":"boolean","description":"isCopyRightProtected"},"isVoiceAvailable":{"type":"boolean","description":"isVoiceAvailable"},"hasAppendedDocuments":{"type":"boolean","description":"hasAppendedDocuments"},"isProtected":{"type":"boolean","description":"isProtected"},"isDeleted":{"type":"boolean","description":"isDeleted"},"isEmail":{"type":"boolean","description":"isEmail"}},"description":"DocumentFlags"}}},"description":"Documents"}}}}},"summary":"Transfer documents","operationId":"TransferDocument","description":"Moves one or more documents from one file cabinet/document tray to another.","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"DestinationFileCabinetID","in":"path","required":true,"type":"string","x-ms-summary":"Destination File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"description":"Select the destination File Cabinet or Document Tray.","x-ms-url-encoding":"single"},{"name":"StoreDialogID","in":"query","required":false,"type":"string","x-ms-summary":"Store Dialog","x-ms-dynamic-values":{"operationId":"GetDialogs","value-path":"Guid","value-collection":"Dialogs","value-title":"Name","parameters":{"FileCabinet":{"parameter":"DestinationFileCabinetID"},"DialogType":"Store"}},"description":"Select the store dialog for indexing the documents being moved."},{"name":"TransferInfo","in":"body","required":true,"x-ms-summary":"Transfer Info","schema":{"x-name":null,"type":"object","required":["SourceFileCabinetId"],"properties":{"SourceFileCabinetId":{"x-ms-summary":"Source File Cabinet/Document Tray","description":"Select the source File Cabinet or Document Tray.","type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}}},"Documents":{"x-ms-summary":"Docs","type":"array","items":{"type":"object","properties":{"DocumentId":{"x-ms-summary":"ID","description":"Specify a document ID.","type":"integer"},"IndexFields":{"x-ms-summary":"Field","type":"array","items":{"type":"object","properties":{"Name":{"x-ms-summary":"Name","description":"Select or specify a field name.","type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinetFields","value-path":"DBFieldName","value-collection":"Fields","value-title":"DisplayName","parameters":{"FileCabinet":{"parameter":"DestinationFileCabinetID"},"FieldType":"User"}}},"Value":{"x-ms-summary":"Value","description":"Specify a field value.","type":"string"}}}}}}},"KeepSource":{"x-ms-summary":"Keep Source","description":"Choose whether the source documents should be deleted or not.","type":"boolean"},"FillIntellix":{"x-ms-summary":"Fill Intellix","description":"Choose whether intelligent indexing should be used when storing.","type":"boolean"}}}}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#transfer-documents"}}},"/{connectionId}/FileCabinets/{FileCabinetID}/Documents/{DocumentID}/Annotation":{"put":{"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Created":{"type":"object","properties":{"User":{"type":"string","description":"User"},"Time":{"type":"string","description":"Time"}},"description":"Created"},"Type":{"type":"string","description":"Type"},"Color":{"type":"string","description":"Color"},"Rotation":{"type":"integer","format":"int32","description":"Rotation"},"Transparent":{"type":"boolean","description":"Transparent"},"StrokeWidth":{"type":"integer","format":"int32","description":"StrokeWidth"},"Guid":{"type":"string","description":"Guid"}}}}},"summary":"Place a stamp","operationId":"PlaceAStamp","description":"Places a stamp on a document.","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinetID","in":"path","required":true,"type":"string","x-ms-summary":"File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"description":"Select the File Cabinet or Document Tray with your document.","x-ms-url-encoding":"single"},{"name":"DocumentID","in":"path","required":true,"type":"integer","x-ms-summary":"Document ID","description":"Specify the ID of the document you want to stamp.","x-ms-url-encoding":"single"},{"name":"StampData","in":"body","required":true,"x-ms-summary":"Stamp Data","schema":{"x-name":null,"type":"object","required":["StampId","Layer","FileNumber","PageNumber"],"properties":{"FileNumber":{"type":"integer","x-ms-summary":"File Number","description":"Specify the file/section containing the page to be stamped."},"PageNumber":{"type":"integer","x-ms-summary":"Page Number","description":"Specify the page number to place the stamp on."},"Layer":{"type":"integer","x-ms-summary":"Layer","description":"Specify the document layer to place the stamp on [1-5]","default":1},"PositionX":{"type":"number","x-ms-summary":"Horizontal Position (X position)","description":"[Optional] Position from the left edge of the page in mm."},"PositionY":{"type":"number","x-ms-summary":"Vertical Position (Y position)","description":"[Optional] Position from the upper edge of the page in mm."},"StampId":{"type":"string","x-ms-summary":"Stamp","description":"Select or specify the stamp to be used.","x-ms-dynamic-values":{"operationId":"GetStamps","value-path":"Id","value-collection":"Stamps","value-title":"DisplayName","parameters":{"FileCabinet":{"parameter":"FileCabinetID"}}}},"Password":{"type":"string","x-ms-summary":"Password","description":"Specify the password for the stamp (if required)."},"Fields":{"x-ms-summary":"Field","type":"array","items":{"type":"object","properties":{"Name":{"description":"Specify a field name.","type":"string","x-ms-dynamic-values":{"operationId":"GetStampFields","value-collection":"Fields","value-path":"Id","value-title":"DisplayName","parameters":{"FileCabinet":{"parameter":"FileCabinetID"},"Stamp":{"parameter":"StampId"}}},"x-ms-dynamic-list":{"operationId":"GetStampFields","itemsPath":"Fields","itemValuePath":"Id","itemTitlePath":"DisplayName","parameters":{"FileCabinet":{"parameterReference":"FileCabinetID"},"Stamp":{"parameterReference":"StampData/StampId"}}},"title":""},"Value":{"description":"Specify a field value.","type":"string","title":""}}}}}}}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#place-a-stamp"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Dialogs":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Dialogs":{"type":"array","items":{"type":"object","properties":{"Name":{"type":"string","description":"Name"},"Guid":{"type":"string","description":"Guid"},"Color":{"type":"string","description":"Color"},"IsDefault":{"type":"boolean","description":"IsDefault"},"Type":{"type":"string","description":"Type"},"FileCabinetId":{"type":"string","description":"FileCabinetId"}}},"description":"Dialogs"}}}}},"summary":"Get dialogs","description":"Gets a list of dialogs for a file cabinet or document tray.","operationId":"GetDialogs","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"x-ms-summary":"File Cabinet/Document Tray","description":"Select the File Cabinet or Document Tray to get dialogs from.","x-ms-url-encoding":"single"},{"name":"DialogType","in":"query","required":false,"type":"string","description":"Select the type of dialogs to return.","x-ms-summary":"Dialog Type","enum":["All","Search","Store","Result","Index","List","Folders"],"default":"All"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-dialogs"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Sections":{"post":{"consumes":["multipart/form-data"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"SignatureStatus":{"type":"array","items":{"type":"string"},"description":"SignatureStatus"},"SectionId":{"type":"string","description":"SectionId"},"ContentType":{"type":"string","description":"ContentType"},"HaveMorePages":{"type":"boolean","description":"HaveMorePages"},"PageCount":{"type":"integer","format":"int32","description":"PageCount"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"OriginalFileName":{"type":"string","description":"OriginalFileName"},"ContentModified":{"type":"string","description":"ContentModified"},"HasTextAnnotation":{"type":"boolean","description":"HasTextAnnotation"},"AnnotationsPreview":{"type":"boolean","description":"AnnotationsPreview"}}}}},"summary":"Append a file","description":"Appends a file/section to an existing document.","operationId":"AppendFile","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-summary":"File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"description":"Select the File Cabinet or Document Tray with your document.","x-ms-url-encoding":"single"},{"name":"DocID","in":"query","type":"string","required":true,"x-ms-summary":"Document ID","description":"Specify the ID of the document to append to."},{"name":"file","in":"formData","type":"file","required":false,"x-ms-summary":"File Contents","description":"Specify the contents of the file to store."}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#append-a-file"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Documents/{DocumentID}/Sections/{FileNumber}/Data":{"delete":{"consumes":["multipart/form-data"],"produces":["application/json"],"responses":{"default":{"description":"default","schema":{}}},"summary":"Delete a file","description":"Deletes a file/section from an existing document.","operationId":"DeleteFile","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-summary":"File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"description":"Select the File Cabinet or Document Tray with your document.","x-ms-url-encoding":"single"},{"name":"DocumentID","in":"path","required":true,"type":"integer","x-ms-summary":"Document ID","description":"Specify the ID of the document to delete from.","x-ms-url-encoding":"single"},{"name":"FileNumber","in":"path","required":true,"type":"integer","x-ms-summary":"File Number","description":"Specify the file number to delete.","x-ms-url-encoding":"single"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#delete-a-file"}},"post":{"consumes":["multipart/form-data"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"SignatureStatus":{"type":"array","items":{"type":"string"},"description":"SignatureStatus"},"SectionId":{"type":"string","description":"SectionId"},"ContentType":{"type":"string","description":"ContentType"},"HaveMorePages":{"type":"boolean","description":"HaveMorePages"},"PageCount":{"type":"integer","format":"int32","description":"PageCount"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"OriginalFileName":{"type":"string","description":"OriginalFileName"},"ContentModified":{"type":"string","description":"ContentModified"},"HasTextAnnotation":{"type":"boolean","description":"HasTextAnnotation"},"AnnotationsPreview":{"type":"boolean","description":"AnnotationsPreview"}}}}},"summary":"Replace a file","description":"Replaces a file/section in an existing document.","operationId":"ReplaceFile","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-summary":"File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"description":"Select the File Cabinet or Document Tray with your document.","x-ms-url-encoding":"single"},{"name":"DocumentID","in":"path","required":true,"type":"integer","x-ms-summary":"Document ID","description":"Specify the ID of the document with the file to replace.","x-ms-url-encoding":"single"},{"name":"FileNumber","in":"path","required":true,"type":"integer","x-ms-summary":"File Number","description":"Specify the file number to replace.","x-ms-url-encoding":"single"},{"name":"file","in":"formData","type":"file","required":false,"x-ms-summary":"File Contents","description":"Specify the contents of the file to store."}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#replace-a-file"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Stamps":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Stamps":{"type":"array","items":{"type":"object","properties":{"Id":{"type":"string","description":"Id"},"Name":{"type":"string","description":"Name"},"DisplayName":{"type":"string","description":"DisplayName"},"Color":{"type":"string","description":"Color"},"Signature":{"type":"string","description":"Signature"},"PasswordProtected":{"type":"boolean","description":"PasswordProtected"},"Overwrite":{"type":"boolean","description":"Overwrite"},"Type":{"type":"string","description":"Type"},"FileCabinetId":{"type":"string","description":"FileCabinetId"}}},"description":"Stamps"}}}}},"summary":"Get stamps","description":"Gets a list of stamps for a file cabinet or document tray.","operationId":"GetStamps","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"x-ms-summary":"File Cabinet/Document Tray","description":"Select the File Cabinet or Document Tray to get stamps from.","x-ms-url-encoding":"single"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-stamps"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Stamps/{Stamp}/Fields":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Fields":{"type":"array","items":{"type":"object","properties":{"Id":{"type":"string","description":"Id"},"Label":{"type":"string","description":"Label"},"DisplayName":{"type":"string","description":"DisplayName"}}},"description":"Fields"}}}}},"summary":"Get stamp fields","operationId":"GetStampFields","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-summary":"File Cabinet/Document Tray","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"All"}},"description":"Select the File Cabinet or Document Tray with the desired stamp.","x-ms-url-encoding":"single"},{"name":"Stamp","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetStamps","value-path":"Id","value-collection":"Stamps","value-title":"DisplayName","parameters":{"FileCabinet":{"parameter":"FileCabinet"}}},"description":"Select the stamp to get its fields.","x-ms-summary":"Stamp","x-ms-url-encoding":"single"}],"description":"Gets a list of fields for a stamp.","externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-stamp-fields"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Fields":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Fields":{"type":"array","items":{"type":"object","properties":{"TableFieldColumns":{"type":"array","items":{"type":"object","properties":{"DBFieldName":{"type":"string","description":"DBFieldName"},"DWFieldType":{"type":"string","description":"DWFieldType"},"DisplayName":{"type":"string","description":"DisplayName"},"DropLeadingBlanks":{"type":"boolean","description":"DropLeadingBlanks"},"DropLeadingZero":{"type":"boolean","description":"DropLeadingZero"},"FieldInfoText":{"type":"string","description":"FieldInfoText"},"FixedEntry":{"type":"string","description":"FixedEntry"},"Length":{"type":"integer","format":"int32","description":"Length"},"NotEmpty":{"type":"boolean","description":"NotEmpty"},"Precision":{"type":"integer","format":"int32","description":"Precision"},"Scope":{"type":"string","description":"Scope"}}},"description":"TableFieldColumns"},"UsedAsDocumentName":{"type":"boolean","description":"UsedAsDocumentName"},"DBFieldName":{"type":"string","description":"DBFieldName"},"DWFieldType":{"type":"string","description":"DWFieldType"},"DisplayName":{"type":"string","description":"DisplayName"},"DropLeadingBlanks":{"type":"boolean","description":"DropLeadingBlanks"},"DropLeadingZero":{"type":"boolean","description":"DropLeadingZero"},"FieldInfoText":{"type":"string","description":"FieldInfoText"},"FixedEntry":{"type":"string","description":"FixedEntry"},"Length":{"type":"integer","format":"int32","description":"Length"},"NotEmpty":{"type":"boolean","description":"NotEmpty"},"Precision":{"type":"integer","format":"int32","description":"Precision"},"Scope":{"type":"string","description":"Scope"}}},"description":"Fields"}}}}},"summary":"Get file cabinet fields","description":"Gets a list of fields for a file cabinet.","operationId":"GetFileCabinetFields","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-summary":"File Cabinet","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"FileCabinet"}},"description":"Select the File Cabinet to get fields for.","x-ms-url-encoding":"single"},{"name":"FieldType","in":"query","required":false,"type":"string","description":"Select the type of fields to return.","x-ms-summary":"Field Type","enum":["User","System"]}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-file-cabinet-fields"}}},"/{connectionId}/FileCabinets/{FileCabinet}/Dialogs/{DialogId}/Fields":{"get":{"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Fields":{"type":"array","items":{"type":"object","properties":{"DBFieldName":{"type":"string","description":"DBFieldName"},"DWFieldType":{"type":"string","description":"DWFieldType"},"DisplayName":{"type":"string","description":"DisplayName"},"ReadOnly":{"type":"boolean","description":"ReadOnly"},"Visible":{"type":"boolean","description":"Visible"}}},"description":"Fields"}}}}},"summary":"Get dialog fields","description":"Gets the fields for a dialog","operationId":"GetDialogFields","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"FileCabinet","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"FileCabinet"}},"description":"Select the File Cabinet","x-ms-url-encoding":"single","x-ms-summary":"File Cabinet"},{"name":"DialogId","in":"path","required":true,"type":"string","description":"Select the dialog to get the fields for.","x-ms-url-encoding":"single","x-ms-summary":"Dialog","x-ms-dynamic-values":{"operationId":"GetDialogs","value-path":"Guid","value-collection":"Dialogs","value-title":"Name","parameters":{"FileCabinet":{"parameter":"FileCabinet"},"DialogType":"All"}}}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#get-dialog-fields"}}},"/{connectionId}/DocumentTrays/{DocumentTray}/Search":{"get":{"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"default","schema":{"type":"object","properties":{"Count":{"type":"integer","format":"int32","description":"Count"},"Documents":{"type":"array","items":{"type":"object","properties":{"Sections":{"type":"array","items":{},"description":"Sections"},"DocumentId":{"type":"integer","format":"int32","description":"DocumentId"},"IndexFields":{"type":"object","additionalProperties":{},"description":"IndexFields"},"DocumentTitle":{"type":"string","description":"DocumentTitle"},"FileCabinetId":{"type":"string","description":"FileCabinetId"},"TotalPages":{"type":"integer","format":"int32","description":"TotalPages"},"FileSize":{"type":"integer","format":"int32","description":"FileSize"},"ContentType":{"type":"string","description":"ContentType"},"VersionStatus":{"type":"string","description":"VersionStatus"},"DocumentFlags":{"type":"object","properties":{"isCold":{"type":"boolean","description":"isCold"},"isDBRecord":{"type":"boolean","description":"isDBRecord"},"isCheckedOut":{"type":"boolean","description":"isCheckedOut"},"isCopyRightProtected":{"type":"boolean","description":"isCopyRightProtected"},"isVoiceAvailable":{"type":"boolean","description":"isVoiceAvailable"},"hasAppendedDocuments":{"type":"boolean","description":"hasAppendedDocuments"},"isProtected":{"type":"boolean","description":"isProtected"},"isDeleted":{"type":"boolean","description":"isDeleted"},"isEmail":{"type":"boolean","description":"isEmail"}},"description":"DocumentFlags"}}}}}}}},"summary":"List documents in document tray","description":"List documents from the specified document tray.","operationId":"ListDocumentsInDocumentTray","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"DocumentTray","in":"path","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"GetFileCabinets","value-path":"Guid","value-collection":"FileCabinets","value-title":"Name","parameters":{"FileCabinetType":"DocumentTray"}},"x-ms-summary":"Document Tray","description":"Select the Document Tray to search.","x-ms-url-encoding":"single"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware/#list-documents-in-document-tray"}}}},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://start.docuware.com"},{"propertyName":"Privacy policy","propertyValue":"https://start.docuware.com/data-privacy"},{"propertyName":"Categories","propertyValue":"Content and Files;Productivity"}],"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"API key":{"type":"apiKey","in":"header","name":"XApiKey"}},"security":[{"API key":[]}],"tags":[],"externalDocs":{"url":"https://docs.microsoft.com/connectors/docuware"}}