{"swagger":"2.0","info":{"version":"1.0","title":"MQ","description":"Microsoft Connector for MQ integrates Azure applications with resources stored in an IBM WebSphere MQ server. Supports message send and receive operations.","x-ms-api-annotation":{"status":"Production"},"contact":{"name":"Microsoft"}},"host":"logic-apis-westus.azure-apim.net","basePath":"/apim/mq","schemes":["https"],"paths":{"/{connectionId}/testconnection":{"get":{"tags":["MqDiagnostic"],"operationId":"TestConnection","consumes":[],"produces":[],"responses":{"200":{"description":"OK"},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/$metadata.json/messages":{"get":{"tags":["MqMetadata"],"summary":"Get metadata of a message","description":"Get metadata of a message","operationId":"GetMessageMetadata","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProcedureMetadata"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#get-metadata-of-a-message"},"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/read":{"post":{"tags":["Mq"],"summary":"Browse message","description":"Browse one message from the queue.","operationId":"Read","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/SingleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#browse-message"}}},"/{connectionId}/readall":{"post":{"tags":["Mq"],"summary":"Browse messages","description":"Browse messages in a queue.","operationId":"ReadAll","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/MultipleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#browse-messages"}}},"/{connectionId}/receive":{"post":{"tags":["Mq"],"summary":"Receive message","description":"Returns one message from the queue, by doing a destructive get.","operationId":"Receive","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/SingleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#receive-message"}}},"/{connectionId}/receiveall":{"post":{"tags":["Mq"],"summary":"Receive messages","description":"Returns messages from the queue, by doing a destructive get.","operationId":"ReceiveAll","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/MultipleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#receive-messages"}}},"/{connectionId}/delete":{"post":{"tags":["Mq"],"summary":"Delete message","description":"Deletes one message from the queue, by doing a destructive get.","operationId":"Delete","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/SingleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#delete-message"}}},"/{connectionId}/deleteall":{"post":{"tags":["Mq"],"summary":"Delete messages","description":"Deletes messages from the queue, by doing a destructive get.","operationId":"DeleteAll","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/MultipleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#delete-messages"}}},"/{connectionId}/send":{"post":{"tags":["Mq"],"summary":"Send message","description":"Send a message to a queue.","operationId":"Send","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"message","in":"body","description":"Message and options","required":true,"schema":{"$ref":"#/definitions/SendValidDataOptions"},"x-ms-summary":"Message and options"}],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"ItemInternalId":{"type":"string","x-ms-visibility":"internal"},"MessageData":{"title":"MessageData","type":"string"},"MessageId":{"title":"MessageId","type":"string"},"CorrelationId":{"title":"CorrelationId","type":"string"}}}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#send-message"}}},"/{connectionId}/v2/read":{"post":{"tags":["Mqv2"],"summary":"Browse message (v2)","description":"Browse one message from the queue.","operationId":"ReadV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/SingleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#browse-message-(v2)"}}},"/{connectionId}/v2/readall":{"post":{"tags":["Mqv2"],"summary":"Browse messages (v2)","description":"Browse messages in a queue.","operationId":"ReadAllV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/MultipleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#browse-messages-(v2)"}}},"/{connectionId}/v2/receive":{"post":{"tags":["Mqv2"],"summary":"Receive message (v2)","description":"Returns one message from the queue, by doing a destructive get.","operationId":"ReceiveV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/SingleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#receive-message-(v2)"}}},"/{connectionId}/v2/receiveall":{"post":{"tags":["Mqv2"],"summary":"Receive messages (v2)","description":"Returns messages from the queue, by doing a destructive get.","operationId":"ReceiveAllV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/MultipleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#receive-messages-(v2)"}}},"/{connectionId}/v2/delete":{"post":{"tags":["Mqv2"],"summary":"Delete message (v2)","description":"Deletes one message from the queue, by doing a destructive get.","operationId":"DeleteV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/SingleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Item"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#delete-message-(v2)"}}},"/{connectionId}/v2/deleteall":{"post":{"tags":["Mqv2"],"summary":"Delete messages (v2)","description":"Deletes messages from the queue, by doing a destructive get.","operationId":"DeleteAllV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"options","in":"body","description":"Options","required":false,"schema":{"$ref":"#/definitions/MultipleGetValidOptions"},"x-ms-summary":"Options list"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemsList"}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#delete-messages-(v2)"}}},"/{connectionId}/v2/send":{"post":{"tags":["Mqv2"],"summary":"Send message (v2)","description":"Send a message to a queue.","operationId":"SendV2","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"message","in":"body","description":"Message and options","required":true,"schema":{"$ref":"#/definitions/SendValidDataOptions"},"x-ms-summary":"Message and options"}],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"ItemInternalId":{"type":"string","x-ms-visibility":"internal"},"MessageData":{"title":"MessageData","type":"string"},"MessageId":{"title":"MessageId","type":"string"},"CorrelationId":{"title":"CorrelationId","type":"string"}}}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"important","x-ms-api-annotation":{"status":"Preview"},"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq/#send-message-(v2)"}}}},"definitions":{"ProcedureMetadata":{"type":"object","properties":{"name":{"type":"string"},"title":{"type":"string"},"schema":{"$ref":"#/definitions/Object"}}},"Object":{"type":"object","properties":{}},"Item":{"required":["MessageData"],"type":"object","properties":{"ItemInternalId":{"type":"string","x-ms-visibility":"internal"},"MessageData":{"title":"MessageData","type":"string"},"MessageId":{"title":"MessageId","type":"string"},"CorrelationId":{"title":"CorrelationId","type":"string"},"PutDateTime":{"format":"date-time","title":"PutDateTime","type":"string"},"UserIdentifier":{"title":"UserIdentifier","type":"string"},"PutApplicationName":{"title":"PutApplicationName","type":"string"},"PutApplicationType":{"title":"PutApplicationType","type":"string"},"Format":{"title":"Format","type":"string"},"AccountingToken":{"format":"byte","title":"AccountingToken","type":"string"},"Ccsid":{"format":"int32","title":"Ccsid","type":"integer"},"GroupId":{"title":"GroupId","type":"string"},"LogicalSequenceNumber":{"format":"int32","title":"LogicalSequenceNumber","type":"integer"},"MessageType":{"title":"MessageType","type":"string"},"Offset":{"format":"int32","title":"Offset","type":"integer"},"OriginalLength":{"format":"int32","title":"OriginalLength","type":"integer"},"Persistence":{"title":"Persistence","type":"string"},"Priority":{"format":"int32","title":"Priority","type":"integer"},"ReplyToQueue":{"title":"ReplyToQueue","type":"string"},"ReplyToQueueManager":{"title":"ReplyToQueueManager","type":"string"}}},"ItemsList":{"type":"object","properties":{"value":{"type":"array","items":{"$ref":"#/definitions/Item"}}}},"SingleGetValidOptions":{"type":"object","properties":{"Queue":{"description":"When specified, overrides the queue defined in the connection.","type":"string"},"MessageId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string"},"CorrelationId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string"},"GroupId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string"},"MessageToken":{"description":"Base64 string that represents a byte array with 16 bytes.","type":"string","x-ms-visibility":"advanced","x-ms-summary":"MessageToken"},"Offset":{"format":"int32","description":"Offset in bytes of the data in the physical message from the start of the logical message.","type":"number","x-ms-visibility":"advanced","x-ms-summary":"Offset"},"LogicalSequenceNumber":{"format":"int32","description":"Sequence number of a logical message within a group.","type":"number","x-ms-visibility":"advanced","x-ms-summary":"LogicalSequenceNumber"},"IncludeInfo":{"description":"Indicates if additional message info should be included. Expects true or false.","default":"false","enum":["false","true"],"type":"string","x-ms-visibility":"advanced","x-ms-summary":"IncludeInfo"},"Timeout":{"format":"time","description":"Wait time for a message to appear in the queue, expects an XML duration or hh:mm:ss.","pattern":"^[0-9]{2}:[0-9]{2}:[0-9]{2}$","type":"string","x-ms-visibility":"advanced","x-ms-summary":"Timeout"}}},"MultipleGetValidOptions":{"type":"object","properties":{"Queue":{"description":"When specified, overrides the queue defined in the connection.","type":"string"},"MessageId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string"},"CorrelationId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string"},"GroupId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string"},"MessageToken":{"description":"Base64 string that represents a byte array with 16 bytes.","type":"string","x-ms-visibility":"advanced","x-ms-summary":"MessageToken"},"Offset":{"format":"int32","description":"Offset in bytes of the data in the physical message from the start of the logical message.","type":"number","x-ms-visibility":"advanced","x-ms-summary":"Offset"},"LogicalSequenceNumber":{"format":"int32","description":"Sequence number of a logical message within a group.","type":"number","x-ms-visibility":"advanced","x-ms-summary":"LogicalSequenceNumber"},"IncludeInfo":{"description":"Indicates if additional message info should be included. Expects true or false.","default":"false","enum":["false","true"],"type":"string","x-ms-visibility":"advanced","x-ms-summary":"IncludeInfo"},"Timeout":{"format":"time","description":"Wait time for a message to appear in the queue, expects an XML duration or hh:mm:ss.","pattern":"^[0-9]{2}:[0-9]{2}:[0-9]{2}$","type":"string","x-ms-visibility":"advanced","x-ms-summary":"Timeout"},"BatchSize":{"format":"int32","description":"Maximum number of messages to be retrieved from the queue.","type":"number","x-ms-visibility":"advanced","x-ms-summary":"BatchSize"}}},"SendValidDataOptions":{"required":["Message"],"type":"object","properties":{"Queue":{"description":"When specified, overrides the queue defined in the connection.","type":"string"},"Message":{"description":"Message data","type":"string"},"MessageType":{"description":"Message type","default":"Datagram","enum":["Datagram","Reply","Request"],"type":"string"},"CorrelationId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string"},"MessageId":{"description":"Base64 string that represents a byte array with 24 bytes.","type":"string","x-ms-visibility":"advanced","x-ms-summary":"MessageId"},"ReplyToQueue":{"description":"Reply-to queue","type":"string","x-ms-visibility":"advanced","x-ms-summary":"ReplyToQueue"},"ReplyToQueueManager":{"description":"Reply-to queue manager","type":"string","x-ms-visibility":"advanced","x-ms-summary":"ReplyToQueueManager"},"CodeCharSetId":{"format":"int32","description":"Character set for the message.","type":"number","x-ms-visibility":"advanced","x-ms-summary":"CodeCharSetId"},"Offset":{"format":"int32","description":"Offset in bytes of the data in the physical message from the start of the logical message.","type":"number","x-ms-visibility":"advanced","x-ms-summary":"Offset"},"Format":{"description":"Format field for the message.","type":"string","x-ms-visibility":"advanced","x-ms-summary":"Format"}}},"SendValidDataOptionsArray":{"required":["messages"],"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/definitions/SendValidDataOptions"}}}}},"x-ms-capabilities":{"testConnection":{"operationId":"TestConnection","parameters":{}}},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://www.ibm.com/products/mq"},{"propertyName":"Privacy policy","propertyValue":"https://www.ibm.com/privacy/us/en/?lnk=flg-priv-usen"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/mq"}}