{"swagger":"2.0","info":{"version":"1.0","title":"Orderful","description":"Orderful is a complete cloud EDI network for supply chains. Forward-thinking companies are using Orderful to replace their existing EDI infrastructure. Orderful provides a modern API endpoint that enables companies to trade EDI data.","x-ms-api-annotation":{"status":"Preview"},"contact":{"name":"Microsoft Dynamics","url":"https://dynamics.microsoft.com/en-us/support/","email":"iomdri@microsoft.com"}},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://orderful.com/"},{"propertyName":"Privacy policy","propertyValue":"https://orderful.com/privacy-policy/"},{"propertyName":"Categories","propertyValue":"Productivity"}],"host":"logic-apis-westus.azure-apim.net","basePath":"/apim/orderful","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/{connectionId}/v2/transactions":{"get":{"summary":"List Transactions","description":"Fetches a list of transactions as specified by the filter/sort parameters supplied.","operationId":"ListTransactions","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"}],"responses":{"default":{"description":"default","schema":{}}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/orderful/#list-transactions"}},"post":{"summary":"Create Transaction","description":"Create Transaction.","operationId":"CreateTransaction","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"body","in":"body","required":true,"schema":{"type":"object"}}],"responses":{"default":{"description":"default","schema":{}}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/orderful/#create-transaction"}}},"/{connectionId}/v2/transactions/{transactionId}":{"get":{"summary":"Get Transaction by ID","description":"Get transaction by ID.","operationId":"GetTransactionById","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"transactionId","in":"path","type":"integer","required":true,"format":"int32","description":"The transaction Id used to retrieve transaction..","x-ms-summary":"Transaction ID","x-ms-url-encoding":"single"}],"responses":{"default":{"description":"default","schema":{}}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/orderful/#get-transaction-by-id"}}},"/{connectionId}/v2/destinations":{"x-ms-notification-content":{"description":"Communication Channel Message","schema":{"$ref":"#/definitions/CommunicationChannelEventResponse"},"parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"}]},"post":{"description":"Establish a communication channel that receive transactions from Orderful.","summary":"Listen to Communication Channel","operationId":"Communication-Channel","x-ms-trigger":"single","parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"Communication Channel Request Body","in":"body","description":"This is the request body of the Webhook","schema":{"type":"object","properties":{"isActive":{"description":"","type":"boolean","title":"","enum":[true,false],"x-ms-visibility":"advanced","default":true},"name":{"description":"Communication Channel Name.","type":"string","title":"Name"},"config":{"description":"Configuration of the Trigger","type":"object","required":["url","destinationTypeName","guidelineFilter"],"properties":{"destinationTypeName":{"type":"string","description":"","title":"DestinationTypeName","default":"http","x-ms-visibility":"advanced"},"guidelineFilter":{"type":"boolean","description":"","title":"GuidelineFilter","default":false,"enum":[true,false],"x-ms-visibility":"advanced"},"url":{"type":"string","description":"CallbackURL: communication channel url.","title":"Url","x-ms-notification-url":true,"x-ms-visibility":"internal"}}},"ownerId":{"description":"Owner of the Orderful account.","type":"integer","title":"OwnerId"}},"required":["config","name","ownerId","isActive"]}}],"responses":{"201":{"description":"Created","schema":{"$ref":"#/definitions/CommunicationChannelCreationResponse"}}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/orderful/#listen-to-communication-channel"}}}},"definitions":{"CommunicationChannelEventResponse":{"type":"object","x-ms-summary":"Webhook Event Reponse body","title":"Message"},"CommunicationChannelRequestBody":{"type":"object","properties":{"isActive":{"description":"If the State of the Trigger is active.","type":"boolean","default":true},"name":{"description":"Communication Channel Name.","type":"string","title":"Name"},"config":{"description":"Configuration of the Trigger.","type":"object","required":["url","destinationTypeName","guidelineFilter"],"properties":{"destinationTypeName":{"type":"string","title":"DestinationTypeName","default":"http"},"guidelineFilter":{"type":"boolean","title":"GuidelineFilter","default":false,"enum":["true","false"]},"url":{"type":"string","description":"CallbackURL: communication channel url.","title":"Url","x-ms-notification-url":true,"x-ms-visibility":"internal"}}},"ownerId":{"description":"Owner of the Orderful account.","type":"integer"}},"required":["config","name","ownerId","isActive"]},"CommunicationChannelCreationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32","x-ms-summary":"Webhook Communication Channel ID"}}}},"parameters":{},"responses":{},"securityDefinitions":{"API Key":{"type":"apiKey","in":"header","name":"orderful-api-key"}},"security":[{"API Key":[]}],"tags":[],"externalDocs":{"url":"https://docs.microsoft.com/connectors/orderful"}}