{"swagger":"2.0","info":{"title":"Plumsail Documents","description":"Plumsail Documents connector allows you to set up automated document generation and conversion. The connector provides a wide range of actions to manipulate PDF documents and PDF forms. Create documents from templates, convert to PDF, split and merge PDF files, protect them, read PDF forms, and more - all you need to automate documents in one connector. Find more information at https://plumsail.com/documents","contact":{"name":"Support","url":"https://plumsail.com","email":"support@plumsail.com"},"version":"v1","x-ms-api-annotation":{"status":"Production"}},"host":"logic-apis-westus.azure-apim.net","basePath":"/apim/plumsail","schemes":["https"],"paths":{"/{connectionId}/flow/v1/Documents/jobs/{jobName}/{jobId}":{"get":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsByJobNameByJobIdGet","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"path","name":"jobId","required":true,"type":"string"},{"in":"path","name":"jobName","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"GetDocumentsResult","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#getdocumentsresult"}}},"/{connectionId}/flow/v1/DocumentsFlow/Schema/AddWatermarkToPdf":{"post":{"tags":["DocumentsFlowSchema"],"operationId":"FlowV1DocumentsFlowSchemaAddWatermarkToPdfPost","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"type","required":true,"type":"string","enum":["Text","Image","Pdf","Html"],"x-ms-summary":"Type","description":"The type of the watermark"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"AddWatermarkToPdfSchema","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#addwatermarktopdfschema"}}},"/{connectionId}/flow/v1/DocumentsFlow/Schema/RegExpMatch":{"post":{"tags":["DocumentsFlowSchema"],"operationId":"FlowV1DocumentsFlowSchemaRegExpMatchPost","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"pattern","required":true,"type":"string","x-ms-summary":"Pattern","description":"pattern"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"RegexMatchSchema","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#regexmatchschema"}}},"/{connectionId}/flow/v1/DocumentsFlow/Schema/ParseCsv":{"post":{"tags":["DocumentsFlowSchema"],"operationId":"FlowV1DocumentsFlowSchemaParseCsvPost","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"headers","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"ParseCsv","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#parsecsv"}}},"/{connectionId}/flow/v1/DocumentsFlow/Schema/ParseCsvBody":{"post":{"tags":["DocumentsFlowSchema"],"operationId":"FlowV1DocumentsFlowSchemaParseCsvBodyPost","consumes":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"headers","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"ParseCsvBody","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#parsecsvbody"}}},"/{connectionId}/flow/v1/DocumentsFlow/Schema/SplitPdf":{"post":{"tags":["DocumentsFlowSchema"],"operationId":"FlowV1DocumentsFlowSchemaSplitPdfPost","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"type","required":true,"type":"string","enum":["ExtractPages","SplitIntoChunks","SplitByBookmarks"],"x-ms-summary":"Type of split","description":"How to split the file"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"SplitPdfSchema","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#splitpdfschema"}}},"/{connectionId}/flow/v1/ProcessesFlow/jobs/{jobName}/{jobId}":{"get":{"tags":["ProcessesFlow"],"operationId":"FlowV1ProcessesFlowJobsByJobNameByJobIdGet","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"path","name":"jobName","required":true,"type":"string"},{"in":"path","name":"jobId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"GetProcessResult","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#getprocessresult"}}},"/{connectionId}/flow/v1/ProcessesFlow/Schema/GetProcesses":{"post":{"tags":["ProcessesFlowSchema"],"operationId":"FlowV1ProcessesFlowSchemaGetProcessesPost","responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"GetProcessesSchema","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#getprocessesschema"},"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/flow/v1/ProcessesFlow/Schema/GetJsonData":{"post":{"tags":["ProcessesFlowSchema"],"operationId":"FlowV1ProcessesFlowSchemaGetJsonDataPost","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"processId","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"FlowV1ProcessesFlowSchemaGetProcessesPost","value-path":"id","value-title":"name","parameters":{}},"x-ms-summary":"Process name","description":"The name of process to be started"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"GetJsonSchema","description":"System","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#getjsonschema"}}},"/{connectionId}/flow/v1/ProcessesFlow/triggers":{"post":{"tags":["ProcessesTriggers"],"operationId":"FlowV1ProcessesFlowTriggersPost","consumes":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"data","required":true,"schema":{"$ref":"#/definitions/AddPowerAutomateWebhookData"}}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Process finished","description":"Creates a webhook that runs when the process is finished","x-ms-trigger":"single","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#process-finished"}},"x-ms-notification-content":{"description":"Dynamic data of a trigger","schema":{"$ref":"#/definitions/ProcessSchemaDynamicType"},"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/flow/v1/ProcessesFlow/triggers/{userId}/{processId}/{hookId}":{"delete":{"tags":["ProcessesTriggers"],"operationId":"FlowV1ProcessesFlowTriggersByProcessIdByHookIdDelete","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"path","name":"userId","required":true,"type":"string"},{"in":"path","name":"processId","required":true,"type":"string"},{"in":"path","name":"hookId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"Delete webhook","description":"Delete a webhook that triggers when the process is finished","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#delete-webhook"}}},"/{connectionId}/flow/v1/ProcessesFlow/triggers/{processId}/schema":{"get":{"tags":["ProcessesTriggers"],"operationId":"FlowV1ProcessesFlowTriggersByProcessIdSchemaGet","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"path","name":"processId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"internal","summary":"Get schema of a process","description":"Returns schema of a process","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#get-schema-of-a-process"}}},"/{connectionId}/profiles/me":{"get":{"tags":["Utils"],"operationId":"ProfilesMeGet","produces":["application/json"],"responses":{"200":{"description":"Profile information","schema":{"$ref":"#/definitions/ProfileInfo"}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Get Profile Info","description":"Get Profile Info returns information about current user and license.","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#get-profile-info"},"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"}]}},"/{connectionId}/flow/v1/Documents/jobs/ApplyDocxTemplate":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsApplyDocxTemplatePost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/ApplyDocxTemplateRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Create document from DOCX template","description":"Create document from DOCX template. More information: https://plumsail.com/docs/documents/v1.x/document-generation/docx/index.html","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#create-document-from-docx-template"}}},"/{connectionId}/flow/v1/Documents/jobs/ApplyXlsxTemplate":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsApplyXlsxTemplatePost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/ApplyXlsxTemplateRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Create document from XLSX template","description":"Create document from XLSX template. More information: https://plumsail.com/docs/documents/v1.x/document-generation/xlsx/index.html","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#create-document-from-xlsx-template"}}},"/{connectionId}/flow/v1/Documents/jobs/ApplyPptx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsApplyPptxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/ApplyPptxTemplateRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Create document from PPTX template","description":"Create document from PPTX template. More information: https://plumsail.com/docs/documents/v1.x/document-generation/pptx/index.html","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#create-document-from-pptx-template"}}},"/{connectionId}/flow/v1/Documents/jobs/ApplyDocx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsApplyDocxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/MergeFieldsTemplateRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Fill merge fields in DOCX document","description":"Fill merge fields in DOCX document takes a DOCX document with merge fields and replaces them by specified data. The keys in data object should be the same as names of MergeFields (Express block) in document. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#fill-merge-fields-in-docx-document","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#fill-merge-fields-in-docx-document"}}},"/{connectionId}/flow/v1/Documents/jobs/ApplyHtml":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsApplyHtmlPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/ApplyHtmlFlowTemplateRequest"}}],"responses":{"200":{"description":"Result HTML","schema":{"$ref":"#/definitions/ApplyHtmlTemplateResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Create HTML from template","description":"Create HTML takes input HTML template string or file and replaces special {{Tokens}} by specified data. We use Mustache framework for templates internally. More information about templates in Mustache docs: http://mustache.github.io/mustache.5.html. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#create-html-from-template","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#create-html-from-template"}}},"/{connectionId}/flow/v1/Documents/jobs/Html2Pdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsHtml2PdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Html2PdfFlowRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert HTML to PDF","description":"Convert HTML to PDF file. This action takes HTML markup, renders it and converts to PDF document. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-html-to-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-html-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/Html2Docx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsHtml2DocxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Html2DocxFlowRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"summary":"Convert HTML to DOCX","description":"Convert HTML to DOCX document. This action takes HTML markup, renders it and converts to DOCX document. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-html-to-docx","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-html-to-docx"}}},"/{connectionId}/flow/v1/Documents/jobs/Docx2Pdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsDocx2PdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Docx2PdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert DOCX to PDF","description":"Convert DOCX to PDF files. This action takes DOCX document and converts it to PDF. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-docx-to-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-docx-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/Xslx2Pdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsXslx2PdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Xlsx2PdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert XLSX to PDF","description":"Convert XLSX to PDF files. This action takes XLSX document and converts it to PDF. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-xlsx-to-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-xlsx-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/Pptx2Pdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsPptx2PdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Pptx2PdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert PPTX to PDF","description":"Convert PPTX to PDF files. This action takes PPTX document and converts it to PDF. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-pptx-to-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-pptx-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/Any2Pdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsAny2PdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Any2PdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"deprecated":true,"x-ms-api-annotation":{"family":"Any2Pdf","revision":1},"x-ms-visibility":"important","summary":"Convert to PDF (deprecated)","description":"Convert provided file to PDF file. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-to-pdf (deprecated)","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-to-pdf-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/flow/v1/Documents/jobs/Any2PdfV2":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsAny2PdfV2Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Any2PdfRequestV2"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-api-annotation":{"family":"Any2Pdf","revision":2},"x-ms-visibility":"important","summary":"Convert to PDF","description":"Convert provided file to PDF file. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-to-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/Email2Pdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsEmail2PdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Email2PdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert Email to PDF","description":"Convert provided Email to PDF file. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-email-to-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-email-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/Doc2Docx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsDoc2DocxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Doc2DocxRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert DOC to DOCX","description":"Convert DOC to DOCX files. This action takes DOC document and converts it to DOCX. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-doc-to-docx","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-doc-to-docx"}}},"/{connectionId}/flow/v1/Documents/jobs/Xls2Xlsx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsXls2XlsxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Xls2XlsxRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert XLS to XLSX","description":"Convert XLS to XLSX files. This action takes XLS document and converts it to XLSX. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-xls-to-xlsx","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-xls-to-xlsx"}}},"/{connectionId}/flow/v1/Documents/jobs/Ppt2Pptx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsPpt2PptxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Ppt2PptxRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert PPT to PPTX","description":"Convert PPT to PPTX files. This action takes PPT document and converts it to PPTX. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-ppt-to-pptx","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-ppt-to-pptx"}}},"/{connectionId}/flow/v1/Documents/jobs/SplitPdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsSplitPdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/SplitPdfRequest"}}],"responses":{"200":{"description":"Result files","schema":{"$ref":"#/definitions/DocumentsArrayResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"deprecated":true,"x-ms-api-annotation":{"family":"SplitPdf","revision":1},"summary":"Split PDF (deprecated)","description":"It takes a PDF document and splits it (deprecated)","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#split-pdf-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/flow/v1/Documents/jobs/SplitPdfV2":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsSplitPdfV2Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"type","required":true,"type":"string","enum":["ExtractPages","SplitIntoChunks","SplitByBookmarks"],"x-ms-summary":"Type of split","description":"How to split the file"},{"in":"body","name":"request","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"},"x-ms-dynamic-schema":{"operationId":"FlowV1DocumentsFlowSchemaSplitPdfPost","value-path":"items","parameters":{"type":{"parameter":"type"}}}}}],"responses":{"200":{"description":"Result files","schema":{"$ref":"#/definitions/DocumentsWithFilenamesResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-api-annotation":{"family":"SplitPdf","revision":2},"x-ms-visibility":"important","summary":"Split PDF","description":"Split PDF takes PDF document and splits it. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#split-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#split-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/MergePdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsMergePdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/MergePdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"deprecated":true,"x-ms-api-annotation":{"family":"MergePdf","revision":1},"x-ms-visibility":"important","summary":"Merge PDF (deprecated)","description":"Merge PDF takes an array of PDF documents and merge it into one. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#merge-pdf (deprecated)","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#merge-pdf-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/flow/v1/Documents/jobs/MergeAnyToPdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsMergeAnyToPdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/MergeAny2PdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"deprecated":true,"x-ms-api-annotation":{"family":"MergePdf","revision":2},"x-ms-visibility":"important","summary":"Merge any files into PDF (deprecated)","description":"Convert and merge multiple files into a single PDF document. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#merge-any-files-into-pdf (deprecated)","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#merge-any-files-into-pdf-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/flow/v1/Documents/jobs/MergeAnyToPdfV2":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsMergeAnyToPdfV2Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/MergeAny2PdfRequestV2"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-api-annotation":{"family":"MergePdf","revision":3},"x-ms-visibility":"important","summary":"Merge any files into PDF","description":"Convert and merge multiple files into a single PDF document. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#merge-any-files-into-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#merge-any-files-into-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/ExtractTextFromPdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsExtractTextFromPdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Pdf2TextRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Extract text from PDF document","description":"Extract text from PDF takes PDF document and extracts text to Raw or HTML format. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#extract-text-from-pdf-document","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#extract-text-from-pdf-document"}}},"/{connectionId}/flow/v1/Documents/jobs/Pdf2Image":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsPdf2ImagePost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Pdf2ImageRequest"}}],"responses":{"200":{"description":"Result files","schema":{"$ref":"#/definitions/DocumentsArrayResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"deprecated":true,"x-ms-api-annotation":{"family":"Pdf2Image","revision":1},"x-ms-visibility":"important","summary":"Convert PDF to Image (deprecated)","description":"Convert PDF to image. This action takes PDF document and converts it to Image (jpeg, png, gif, bmp, etc). Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-pdf-to-image (deprecated)","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-pdf-to-image-(deprecated)-%5bdeprecated%5d"}}},"/{connectionId}/flow/v1/Documents/jobs/Pdf2ImageV2":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsPdf2ImageV2Post","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Pdf2ImageRequestV2"}}],"responses":{"200":{"description":"Result files","schema":{"$ref":"#/definitions/DocumentsWithFilenamesResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-api-annotation":{"family":"Pdf2Image","revision":2},"x-ms-visibility":"important","summary":"Convert PDF to Image","description":"Convert PDF to image. This action takes PDF document and converts it to Image (jpeg, png, gif, bmp, etc). Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#convert-pdf-to-image","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-pdf-to-image"}}},"/{connectionId}/flow/v1/Documents/jobs/Image2Pdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsImage2PdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Image2PdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert Images to PDF","description":"It takes images and converts them to a PDF document","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-images-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/FillInPdfForm":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsFillInPdfFormPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/FillInPdfFormRequest"}}],"responses":{"200":{"description":"Result files","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Fill in PDF Form","description":"Fill in PDF Form fills out PDF from by provided data. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#fill-in-pdf-form","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#fill-in-pdf-form"}}},"/{connectionId}/flow/v1/Documents/jobs/GetPdfForm":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsGetPdfFormPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/GetPdfFormRequest"}}],"responses":{"200":{"description":"Result files","schema":{"type":"object"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Get Form from PDF","description":"Get Form from PDF returns fillable form data from PDF as JSON. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#get-form-from-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#get-form-from-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/ProtectPdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsProtectPdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/ProtectPdfRequest"}}],"responses":{"200":{"description":"Result files","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Protect PDF document","description":"Protect PDF document adds passwords, copy, printing, and other protections to PDF files. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#protect-pdf-document","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#protect-pdf-document"}}},"/{connectionId}/flow/v1/Documents/jobs/GetPdfProtectionInfo":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsGetPdfProtectionInfoPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/PdfProtectionInfoRequest"}}],"responses":{"200":{"description":"Information about pdf protection","schema":{"$ref":"#/definitions/GetPdfProtectionInfoResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Get information about PDF protection","description":"Get information about PDF protection returns information whether the document is password protected. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#get-pdf-protection-information","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#get-information-about-pdf-protection"}}},"/{connectionId}/flow/v1/Documents/jobs/CompressPdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsCompressPdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/CompressPdfRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Compress PDF document","description":"Compress PDF document size if possible and optimize it. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#compress-pdf-document","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#compress-pdf-document"}}},"/{connectionId}/flow/v1/Documents/jobs/AddWatermarkToPdf":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsAddWatermarkToPdfPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"type","required":true,"type":"string","enum":["Text","Image","Pdf","Html"],"x-ms-summary":"Type","description":"The type of the watermark"},{"in":"body","name":"request","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"},"x-ms-dynamic-schema":{"operationId":"FlowV1DocumentsFlowSchemaAddWatermarkToPdfPost","value-path":"items","parameters":{"type":{"parameter":"type"}}}}}],"responses":{"200":{"description":"Result files","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Add a watermark to PDF","description":"Add a watermark to PDF as text, an image, HTML, or PDF. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#add-watermark-to-pdf","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#add-a-watermark-to-pdf"}}},"/{connectionId}/flow/v1/Documents/jobs/MergeDocx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsMergeDocxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/MergeDocxRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Merge DOCX files","description":"Merge DOCX files takes an array of Docx documents and merge it into single file. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#merge-docx-files","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#merge-docx-files"}}},"/{connectionId}/flow/v1/Documents/jobs/ParseCsv":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsParseCsvPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/ParseCsvFlowRequest"}}],"responses":{"200":{"description":"The array of objects","schema":{"$ref":"#/definitions/ParseCsvSchemaResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Parse CSV","description":"Parse CSV works like Parse JSON but for CSV files. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#parse-csv","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#parse-csv"}}},"/{connectionId}/flow/v1/Documents/jobs/Csv2Xlsx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsCsv2XlsxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Csv2XlsxRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert CSV to Excel","description":"Convert CSV to Excel file (XLSX). Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#csv-to-excel","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-csv-to-excel"}}},"/{connectionId}/flow/v1/Documents/jobs/Json2Xlsx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsJson2XlsxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Json2XlsxRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert JSON to Excel","description":"Convert JSON to Excel file (XLSX). Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#json-to-excel","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-json-to-excel"}}},"/{connectionId}/flow/v1/Documents/jobs/Json2Csv":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsJson2CsvPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/Json2CsvRequest"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Convert JSON to CSV","description":"Convert JSON to CSV file. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#json-to-csv","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#convert-json-to-csv"}}},"/{connectionId}/flow/v1/Documents/jobs/RegExpMatch":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsRegExpMatchPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/RegExpMatchRequest"}}],"responses":{"200":{"description":"Result dictionary","schema":{"$ref":"#/definitions/RegExpMatchSchemaResponseClass"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Regular Expression Match","description":"Regular Expression Match searches for an input string for all occurrences of a regular expression and returns all the matches. We would recommend to use Regex Hero to test your expressions. It supports the same syntax as actions. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#regular-expression-match","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#regular-expression-match"}}},"/{connectionId}/flow/v1/Documents/jobs/RegExpReplace":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsRegExpReplacePost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/RegExpReplaceRequest"}}],"responses":{"200":{"description":"Result string","schema":{"$ref":"#/definitions/StringResultResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Regular Expression Replace","description":"Regular Expression Replace replaces all strings that match a regular expression pattern with a specified replacement string  in a specified input string. We would recommend  to use Regex Hero to test your expressions. It supports the same syntax as actions. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#regular-expression-replace","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#regular-expression-replace"}}},"/{connectionId}/flow/v1/Documents/jobs/RegExpTest":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsRegExpTestPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/RegExpTestRequest"}}],"responses":{"200":{"description":"Result boolean","schema":{"$ref":"#/definitions/BooleanResultResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Regular Expression Test","description":"Regular Expression Test indicates whether the regular expression specified in the Regex constructor finds a match in a specified input string. We would recommend to use Regex Hero to test your expressions. It supports the same syntax as actions. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#regular-expression-test","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#regular-expression-test"}}},"/{connectionId}/flow/v1/Documents/jobs/CreateArchive":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsCreateArchivePost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/CreateArchiveRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentContentWithFilenameResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"summary":"Create Archive","description":"Compresses and adds files to a ZIP archive.","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#create-archive"}}},"/{connectionId}/flow/v1/Documents/jobs/ExtractArchive":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsExtractArchivePost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/ExtractArchiveRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentsWithFilenamesResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"summary":"Extract Archive","description":"Extract files from archive.","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#extract-archive"}}},"/{connectionId}/flow/v1/Documents/jobs/MergeXlsx":{"post":{"tags":["DocumentsFlow"],"operationId":"FlowV1DocumentsJobsMergeXlsxPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"body","name":"request","required":true,"schema":{"$ref":"#/definitions/MergeXlsxRequest"}}],"responses":{"200":{"description":"Result file","schema":{"$ref":"#/definitions/DocumentProcessingResponse"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Merge XLSX files","description":"Merge XLSX files takes an array of Xlsx documents and merge it into single file. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#merge-xlsx-files","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#merge-xlsx-files"}}},"/{connectionId}/flow/v1/ProcessesFlow/jobs/ExecuteProcess":{"post":{"tags":["ProcessesFlow"],"operationId":"FlowV1ProcessesFlowJobsExecuteProcessPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"processId","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"FlowV1ProcessesFlowSchemaGetProcessesPost","value-path":"id","value-title":"name","parameters":{}},"x-ms-summary":"Process name","description":"The name of process to be started"},{"in":"body","name":"jsonContent","required":true,"schema":{"type":"object"},"x-ms-summary":"Template data","description":"JSON data that should be applied to the template"}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Start document generation process with json","description":"Start document generation process fills a DOCX, XLSX, PPTX or PDF template related to the selected process with the JSON data. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html##start-process-json","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#start-document-generation-process-with-json"}}},"/{connectionId}/flow/v1/ProcessesFlow/jobs/ExecuteProcessWithGeneratedData":{"post":{"tags":["ProcessesFlow"],"operationId":"FlowV1ProcessesFlowJobsExecuteProcessWithGeneratedDataPost","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"in":"query","name":"processId","required":true,"type":"string","x-ms-dynamic-values":{"operationId":"FlowV1ProcessesFlowSchemaGetProcessesPost","value-path":"id","value-title":"name","parameters":{}},"x-ms-summary":"Process name","description":"The name of process to be started"},{"in":"body","name":"data","required":true,"schema":{"$ref":"#/definitions/ProcessJsonData"}}],"responses":{"200":{"description":"Result file","schema":{"format":"binary","title":"Result file","type":"string"}},"202":{"description":"Accepted","headers":{"Location":{"description":"Contains URL where the result of job execution will be available","type":"string"}}},"403":{"description":"The request did not have the correct authorization"},"404":{"description":"Response not found error, please write an email to support@plumsail.com"},"500":{"description":"Internal server error, please write an email to support@plumsail.com"}},"x-ms-visibility":"important","summary":"Start document generation process","description":"Start document generation process fills a DOCX, XLSX, PPTX or PDF template related to the selected process with the JSON data. Documentation - https://plumsail.com/docs/documents/v1.x/flow/actions/document-processing.html#start-document-generation-process","externalDocs":{"url":"https://docs.microsoft.com/connectors/plumsail/#start-document-generation-process"}}}},"definitions":{"AddPowerAutomateWebhookData":{"required":["hookUrl","processId"],"type":"object","properties":{"processId":{"minLength":1,"type":"string","x-ms-summary":"Process name","description":"Name of the process that, when finished, will trigger the flow","x-ms-dynamic-values":{"operationId":"FlowV1ProcessesFlowSchemaGetProcessesPost","value-path":"id","value-title":"name","parameters":{}}},"hookUrl":{"minLength":1,"type":"string","x-ms-visibility":"internal","x-ms-summary":"Process name","description":"HookUrl","x-ms-notification-url":true}},"additionalProperties":false},"Any2PdfRequest":{"required":["documentContent","filename"],"type":"object","properties":{"documentContent":{"format":"byte","type":"string","x-ms-summary":"Document content","description":"Content of document that should be converted"},"filename":{"minLength":1,"type":"string","x-ms-summary":"Filename","description":"Full name of the file to be converted. Including file extension"}},"additionalProperties":false},"Any2PdfRequestV2":{"required":["documentContent"],"type":"object","properties":{"documentContent":{"format":"byte","type":"string","x-ms-summary":"Document content","description":"Content of document that should be converted"}},"additionalProperties":false},"ApplyDocxTemplateRequest":{"required":["data","documentContent","outputType"],"type":"object","properties":{"documentContent":{"format":"binary","type":"string","x-ms-visibility":"important","x-ms-summary":"Template file","description":"Content of the template"},"data":{"type":"object","x-ms-summary":"Template data","description":"JSON data that should be applied to the template"},"outputType":{"default":"DOCX","minLength":1,"enum":["DOCX","PDF"],"type":"string","x-ms-visibility":"important","x-ms-summary":"Document output type","description":"The required document type"},"locale":{"default":"en-US","enum":["aa-DJ","aa-ER","aa-ET","af-NA","af-ZA","agq-CM","ak-GH","am-ET","ar-001","ar-AE","ar-BH","ar-DJ","ar-DZ","ar-EG","ar-ER","ar-IL","ar-IQ","ar-JO","ar-KM","ar-KW","ar-LB","ar-LY","ar-MA","ar-MR","ar-OM","ar-PS","ar-QA","ar-SA","ar-SD","ar-SO","ar-SS","ar-SY","ar-TD","ar-TN","ar-YE","arn-CL","as-IN","asa-TZ","ast-ES","az-Cyrl-AZ","az-Latn-AZ","ba-RU","bas-CM","be-BY","bem-ZM","bez-TZ","bg-BG","bm-ML","bn-BD","bn-IN","bo-CN","bo-IN","br-FR","brx-IN","bs-Cyrl-BA","bs-Latn-BA","byn-ER","ca-AD","ca-ES","ca-FR","ca-IT","ccp-BD","ccp-IN","ce-RU","ceb-PH","cgg-UG","chr-US","ckb-IQ","ckb-IR","co-FR","cs-CZ","cu-RU","cy-GB","da-DK","da-GL","dav-KE","de-AT","de-BE","de-CH","de-DE","de-IT","de-LI","de-LU","dje-NE","dsb-DE","dua-CM","dv-MV","dyo-SN","dz-BT","ebu-KE","ee-GH","ee-TG","el-CY","el-GR","en-001","en-150","en-AE","en-AG","en-AI","en-AS","en-AT","en-AU","en-BB","en-BE","en-BI","en-BM","en-BS","en-BW","en-BZ","en-CA","en-CC","en-CH","en-CK","en-CM","en-CX","en-CY","en-DE","en-DK","en-DM","en-ER","en-FI","en-FJ","en-FK","en-FM","en-GB","en-GD","en-GG","en-GH","en-GI","en-GM","en-GU","en-GY","en-HK","en-IE","en-IL","en-IM","en-IN","en-IO","en-JE","en-JM","en-KE","en-KI","en-KN","en-KY","en-LC","en-LR","en-LS","en-MG","en-MH","en-MO","en-MP","en-MS","en-MT","en-MU","en-MW","en-MY","en-NA","en-NF","en-NG","en-NL","en-NR","en-NU","en-NZ","en-PG","en-PH","en-PK","en-PN","en-PR","en-PW","en-RW","en-SB","en-SC","en-SD","en-SE","en-SG","en-SH","en-SI","en-SL","en-SS","en-SX","en-SZ","en-TC","en-TK","en-TO","en-TT","en-TV","en-TZ","en-UG","en-UM","en-US","en-US-POSIX","en-VC","en-VG","en-VI","en-VU","en-WS","en-ZA","en-ZM","en-ZW","eo-001","es-419","es-AR","es-BO","es-BR","es-BZ","es-CL","es-CO","es-CR","es-CU","es-DO","es-EC","es-ES","es-GQ","es-GT","es-HN","es-MX","es-NI","es-PA","es-PE","es-PH","es-PR","es-PY","es-SV","es-US","es-UY","es-VE","et-EE","eu-ES","ewo-CM","fa-AF","fa-IR","ff-Latn-BF","ff-Latn-CM","ff-Latn-GH","ff-Latn-GM","ff-Latn-GN","ff-Latn-GW","ff-Latn-LR","ff-Latn-MR","ff-Latn-NE","ff-Latn-NG","ff-Latn-SL","ff-Latn-SN","fi-FI","fil-PH","fo-DK","fo-FO","fr-BE","fr-BF","fr-BI","fr-BJ","fr-BL","fr-CA","fr-CD","fr-CF","fr-CG","fr-CH","fr-CI","fr-CM","fr-DJ","fr-DZ","fr-FR","fr-GA","fr-GF","fr-GN","fr-GP","fr-GQ","fr-HT","fr-KM","fr-LU","fr-MA","fr-MC","fr-MF","fr-MG","fr-ML","fr-MQ","fr-MR","fr-MU","fr-NC","fr-NE","fr-PF","fr-PM","fr-RE","fr-RW","fr-SC","fr-SN","fr-SY","fr-TD","fr-TG","fr-TN","fr-VU","fr-WF","fr-YT","fur-IT","fy-NL","ga-IE","gd-GB","gl-ES","gn-PY","gsw-CH","gsw-FR","gsw-LI","gu-IN","guz-KE","gv-IM","ha-GH","ha-NE","ha-NG","haw-US","he-IL","hi-IN","hr-BA","hr-HR","hsb-DE","hu-HU","hy-AM","ia-001","id-ID","ig-NG","ii-CN","is-IS","it-CH","it-IT","it-SM","it-VA","iu-CA","iu-Latn-CA","ja-JP","jgo-CM","jmc-TZ","jv-ID","ka-GE","kab-DZ","kam-KE","kde-TZ","kea-CV","khq-ML","ki-KE","kk-KZ","kkj-CM","kl-GL","kln-KE","km-KH","kn-IN","ko-KP","ko-KR","kok-IN","ks-IN","ksb-TZ","ksf-CM","ksh-DE","kw-GB","ky-KG","lag-TZ","lb-LU","lg-UG","lkt-US","ln-AO","ln-CD","ln-CF","ln-CG","lo-LA","lrc-IQ","lrc-IR","lt-LT","lu-CD","luo-KE","luy-KE","lv-LV","mas-KE","mas-TZ","mer-KE","mfe-MU","mg-MG","mgh-MZ","mgo-CM","mi-NZ","mk-MK","ml-IN","mn-MN","mn-Mong-CN","mn-Mong-MN","moh-CA","mr-IN","ms-BN","ms-MY","ms-SG","mt-MT","mua-CM","my-MM","mzn-IR","naq-NA","nb-NO","nb-SJ","nd-ZW","nds-DE","nds-NL","ne-IN","ne-NP","nl-AW","nl-BE","nl-BQ","nl-CW","nl-NL","nl-SR","nl-SX","nmg-CM","nn-NO","nnh-CM","nqo-GN","nr-ZA","nso-ZA","nus-SS","nyn-UG","oc-FR","om-ET","om-KE","or-IN","os-GE","os-RU","pa-Arab-PK","pa-Guru-IN","pl-PL","prg-001","ps-AF","ps-PK","pt-AO","pt-BR","pt-CH","pt-CV","pt-GQ","pt-GW","pt-LU","pt-MO","pt-MZ","pt-PT","pt-ST","pt-TL","qu-BO","qu-EC","qu-PE","quc-GT","rm-CH","rn-BI","ro-MD","ro-RO","rof-TZ","ru-BY","ru-KG","ru-KZ","ru-MD","ru-RU","ru-UA","rw-RW","rwk-TZ","sa-IN","sah-RU","saq-KE","sbp-TZ","sd-PK","se-FI","se-NO","se-SE","seh-MZ","ses-ML","sg-CF","shi-Latn-MA","shi-Tfng-MA","si-LK","sk-SK","sl-SI","sma-NO","sma-SE","smj-NO","smj-SE","smn-FI","sms-FI","sn-ZW","so-DJ","so-ET","so-KE","so-SO","sq-AL","sq-MK","sq-XK","sr-Cyrl-BA","sr-Cyrl-ME","sr-Cyrl-RS","sr-Cyrl-XK","sr-Latn-BA","sr-Latn-ME","sr-Latn-RS","sr-Latn-XK","ss-SZ","ss-ZA","ssy-ER","st-LS","st-ZA","sv-AX","sv-FI","sv-SE","sw-CD","sw-KE","sw-TZ","sw-UG","syr-SY","ta-IN","ta-LK","ta-MY","ta-SG","te-IN","teo-KE","teo-UG","tg-TJ","th-TH","ti-ER","ti-ET","tig-ER","tk-TM","tn-BW","tn-ZA","to-TO","tr-CY","tr-TR","ts-ZA","tt-RU","twq-NE","tzm-MA","ug-CN","uk-UA","ur-IN","ur-PK","uz-Arab-AF","uz-Cyrl-UZ","uz-Latn-UZ","vai-Latn-LR","vai-Vaii-LR","ve-ZA","vi-VN","vo-001","vun-TZ","wae-CH","wal-ET","wo-SN","xh-ZA","xog-UG","yav-CM","yi-001","yo-BJ","yo-NG","zgh-MA","zh-Hans-CN","zh-Hans-HK","zh-Hans-MO","zh-Hans-SG","zh-Hant-HK","zh-Hant-MO","zh-Hant-TW","zu-ZA"],"type":"string","x-ms-visibility":"advanced","x-ms-summary":"Locale","description":"The locale that will be applyed to the document"},"timezone":{"enum":["Australia/Darwin","Australia/Sydney","Australia/Melbourne","Asia/Kabul","America/Anchorage","America/Juneau","America/Metlakatla","America/Nome","America/Sitka","America/Yakutat","America/Adak","Asia/Barnaul","Asia/Riyadh","Asia/Bahrain","Asia/Kuwait","Asia/Qatar","Asia/Aden","Asia/Dubai","Asia/Muscat","Etc/GMT-4","Asia/Baghdad","America/Buenos_Aires","America/Argentina/La_Rioja","America/Argentina/Rio_Gallegos","America/Argentina/Salta","America/Argentina/San_Juan","America/Argentina/San_Luis","America/Argentina/Tucuman","America/Argentina/Ushuaia","America/Catamarca","America/Cordoba","America/Jujuy","America/Mendoza","Europe/Astrakhan","Europe/Ulyanovsk","America/Halifax","Atlantic/Bermuda","America/Glace_Bay","America/Goose_Bay","America/Moncton","America/Thule","Australia/Eucla","Asia/Baku","Atlantic/Azores","America/Scoresbysund","America/Bahia","Asia/Dhaka","Asia/Thimphu","Europe/Minsk","Pacific/Bougainville","America/Regina","America/Swift_Current","Atlantic/Cape_Verde","Etc/GMT+1","Asia/Yerevan","Australia/Adelaide","Australia/Broken_Hill","America/Guatemala","America/Belize","America/Costa_Rica","Pacific/Galapagos","America/Tegucigalpa","America/Managua","America/El_Salvador","Etc/GMT+6","Asia/Bishkek","Antarctica/Vostok","Asia/Urumqi","Indian/Chagos","Etc/GMT-6","America/Cuiaba","America/Campo_Grande","Europe/Budapest","Europe/Tirane","Europe/Prague","Europe/Podgorica","Europe/Belgrade","Europe/Ljubljana","Europe/Bratislava","Europe/Warsaw","Europe/Sarajevo","Europe/Zagreb","Europe/Skopje","Pacific/Guadalcanal","Antarctica/Casey","Pacific/Ponape","Pacific/Kosrae","Pacific/Noumea","Pacific/Efate","Etc/GMT-11","America/Mexico_City","America/Bahia_Banderas","America/Merida","America/Monterrey","America/Chihuahua","America/Chicago","America/Winnipeg","America/Rankin_Inlet","America/Resolute","America/Matamoros","America/Ojinaga","America/Indiana/Knox","America/Indiana/Tell_City","America/Menominee","America/North_Dakota/Beulah","America/North_Dakota/Center","America/North_Dakota/New_Salem","Pacific/Chatham","Asia/Shanghai","Asia/Hong_Kong","Asia/Macau","America/Havana","Etc/GMT+12","Africa/Nairobi","Antarctica/Syowa","Africa/Djibouti","Africa/Asmera","Africa/Addis_Ababa","Indian/Comoro","Indian/Antananarivo","Africa/Mogadishu","Africa/Dar_es_Salaam","Africa/Kampala","Indian/Mayotte","Etc/GMT-3","Australia/Brisbane","Australia/Lindeman","Europe/Chisinau","America/Sao_Paulo","Pacific/Easter","America/Cancun","America/New_York","America/Nassau","America/Toronto","America/Iqaluit","America/Detroit","America/Indiana/Petersburg","America/Indiana/Vincennes","America/Indiana/Winamac","America/Kentucky/Monticello","America/Louisville","Africa/Cairo","Asia/Yekaterinburg","Europe/Kiev","Europe/Mariehamn","Europe/Sofia","Europe/Tallinn","Europe/Helsinki","Europe/Vilnius","Europe/Riga","Pacific/Fiji","Europe/London","Atlantic/Canary","Atlantic/Faeroe","Europe/Guernsey","Europe/Dublin","Europe/Isle_of_Man","Europe/Jersey","Europe/Lisbon","Atlantic/Madeira","Europe/Bucharest","Asia/Nicosia","Asia/Famagusta","Europe/Athens","Asia/Tbilisi","America/Godthab","Atlantic/Reykjavik","Atlantic/St_Helena","Africa/Ouagadougou","Africa/Abidjan","Africa/Accra","America/Danmarkshavn","Africa/Banjul","Africa/Conakry","Africa/Bissau","Africa/Monrovia","Africa/Bamako","Africa/Nouakchott","Africa/Freetown","Africa/Dakar","Africa/Lome","America/Port-au-Prince","Pacific/Honolulu","Pacific/Rarotonga","Pacific/Tahiti","Etc/GMT+10","Asia/Calcutta","Asia/Tehran","Asia/Jerusalem","Asia/Amman","Europe/Kaliningrad","Asia/Seoul","Africa/Tripoli","Pacific/Kiritimati","Etc/GMT-14","Australia/Lord_Howe","Asia/Magadan","America/Punta_Arenas","America/Coyhaique","Pacific/Marquesas","Indian/Mauritius","Indian/Reunion","Indian/Mahe","Asia/Beirut","America/Montevideo","Africa/Casablanca","Africa/El_Aaiun","America/Mazatlan","America/Denver","America/Edmonton","America/Cambridge_Bay","America/Inuvik","America/Ciudad_Juarez","America/Boise","Asia/Rangoon","Indian/Cocos","Asia/Novosibirsk","Africa/Windhoek","Asia/Katmandu","Pacific/Auckland","Antarctica/McMurdo","America/St_Johns","Pacific/Norfolk","Asia/Irkutsk","Asia/Krasnoyarsk","Asia/Novokuznetsk","Asia/Pyongyang","Asia/Omsk","America/Santiago","America/Tijuana","America/Los_Angeles","America/Vancouver","Asia/Karachi","America/Asuncion","Asia/Qyzylorda","Europe/Paris","Europe/Brussels","Europe/Copenhagen","Africa/Ceuta","Europe/Madrid","Asia/Srednekolymsk","Asia/Kamchatka","Asia/Anadyr","Europe/Samara","Europe/Moscow","Europe/Kirov","Europe/Simferopol","America/Cayenne","Antarctica/Rothera","Antarctica/Palmer","America/Fortaleza","America/Belem","America/Maceio","America/Recife","America/Santarem","Atlantic/Stanley","America/Paramaribo","Etc/GMT+3","America/Bogota","America/Rio_Branco","America/Eirunepe","America/Coral_Harbour","America/Guayaquil","America/Jamaica","America/Cayman","America/Panama","America/Lima","Etc/GMT+5","America/La_Paz","America/Antigua","America/Anguilla","America/Aruba","America/Barbados","America/St_Barthelemy","America/Kralendijk","America/Manaus","America/Boa_Vista","America/Porto_Velho","America/Blanc-Sablon","America/Curacao","America/Dominica","America/Santo_Domingo","America/Grenada","America/Guadeloupe","America/Guyana","America/St_Kitts","America/St_Lucia","America/Marigot","America/Martinique","America/Montserrat","America/Puerto_Rico","America/Lower_Princes","America/Port_of_Spain","America/St_Vincent","America/Tortola","America/St_Thomas","Etc/GMT+4","Asia/Bangkok","Antarctica/Davis","Indian/Christmas","Asia/Jakarta","Asia/Pontianak","Asia/Phnom_Penh","Asia/Vientiane","Asia/Saigon","Etc/GMT-7","America/Miquelon","Asia/Sakhalin","Pacific/Apia","Africa/Sao_Tome","Europe/Saratov","Asia/Singapore","Asia/Brunei","Asia/Makassar","Asia/Kuala_Lumpur","Asia/Kuching","Asia/Manila","Etc/GMT-8","Africa/Johannesburg","Africa/Bujumbura","Africa/Gaborone","Africa/Lubumbashi","Africa/Maseru","Africa/Blantyre","Africa/Maputo","Africa/Kigali","Africa/Mbabane","Africa/Lusaka","Africa/Harare","Etc/GMT-2","Africa/Juba","Asia/Colombo","Africa/Khartoum","Asia/Damascus","Asia/Taipei","Australia/Hobart","Antarctica/Macquarie","America/Araguaina","Asia/Tokyo","Asia/Jayapura","Pacific/Palau","Asia/Dili","Etc/GMT-9","Asia/Tomsk","Pacific/Tongatapu","Asia/Chita","Europe/Istanbul","America/Grand_Turk","America/Indianapolis","America/Indiana/Marengo","America/Indiana/Vevay","America/Phoenix","America/Creston","America/Dawson_Creek","America/Fort_Nelson","America/Hermosillo","Etc/GMT+7","Etc/GMT-12","Pacific/Tarawa","Pacific/Majuro","Pacific/Kwajalein","Pacific/Nauru","Pacific/Funafuti","Pacific/Wake","Pacific/Wallis","Etc/GMT-13","Pacific/Enderbury","Pacific/Fakaofo","Etc/UTC","Etc/GMT","Etc/GMT+2","America/Noronha","Atlantic/South_Georgia","Etc/GMT+8","Pacific/Pitcairn","Etc/GMT+9","Pacific/Gambier","Etc/GMT+11","Pacific/Pago_Pago","Pacific/Niue","Pacific/Midway","Asia/Ulaanbaatar","America/Caracas","Asia/Vladivostok","Asia/Ust-Nera","Europe/Volgograd","Australia/Perth","Africa/Lagos","Africa/Luanda","Africa/Porto-Novo","Africa/Kinshasa","Africa/Bangui","Africa/Brazzaville","Africa/Douala","Africa/Algiers","Africa/Libreville","Africa/Malabo","Africa/Niamey","Africa/Ndjamena","Africa/Tunis","Etc/GMT-1","Europe/Berlin","Europe/Andorra","Europe/Vienna","Europe/Zurich","Europe/Busingen","Europe/Gibraltar","Europe/Rome","Europe/Vaduz","Europe/Luxembourg","Europe/Monaco","Europe/Malta","Europe/Amsterdam","Europe/Oslo","Europe/Stockholm","Arctic/Longyearbyen","Europe/San_Marino","Europe/Vatican","Asia/Hovd","Asia/Tashkent","Antarctica/Mawson","Asia/Oral","Asia/Almaty","Asia/Aqtau","Asia/Aqtobe","Asia/Atyrau","Asia/Qostanay","Indian/Maldives","Indian/Kerguelen","Asia/Dushanbe","Asia/Ashgabat","Asia/Samarkand","Etc/GMT-5","Asia/Hebron","Asia/Gaza","Pacific/Port_Moresby","Antarctica/DumontDUrville","Pacific/Truk","Pacific/Guam","Pacific/Saipan","Etc/GMT-10","Asia/Yakutsk","Asia/Khandyga","America/Whitehorse","America/Dawson","Iceland","Africa/Timbuktu","Egypt","Africa/Asmara","Libya","America/Atka","US/Aleutian","US/Alaska","America/Argentina/Buenos_Aires","America/Argentina/Catamarca","America/Argentina/ComodRivadavia","America/Argentina/Cordoba","America/Rosario","America/Argentina/Jujuy","America/Argentina/Mendoza","US/Central","CST6CDT","America/Shiprock","Navajo","US/Mountain","MST7MDT","US/Michigan","Canada/Mountain","America/Yellowknife","Canada/Atlantic","Cuba","America/Indiana/Indianapolis","US/East-Indiana","America/Knox_IN","US/Indiana-Starke","America/Pangnirtung","Jamaica","America/Kentucky/Louisville","US/Pacific","PST8PDT","Brazil/West","Mexico/BajaSur","Mexico/General","US/Eastern","EST5EDT","Brazil/DeNoronha","America/Nuuk","America/Atikokan","EST","US/Arizona","MST","America/Virgin","Canada/Saskatchewan","America/Porto_Acre","Brazil/Acre","Chile/Continental","Brazil/East","Canada/Newfoundland","America/Ensenada","Mexico/BajaNorte","America/Santa_Isabel","America/Montreal","Canada/Eastern","America/Nipigon","America/Thunder_Bay","Canada/Pacific","Canada/Yukon","Canada/Central","America/Rainy_River","Asia/Ashkhabad","Asia/Dacca","Asia/Ho_Chi_Minh","Hongkong","Asia/Tel_Aviv","Israel","Asia/Kathmandu","Asia/Kolkata","Asia/Macao","Asia/Ujung_Pandang","Europe/Nicosia","ROK","Asia/Chongqing","Asia/Chungking","Asia/Harbin","PRC","Singapore","ROC","Iran","Asia/Thimbu","Japan","Asia/Ulan_Bator","Asia/Choibalsan","Asia/Kashgar","Asia/Yangon","Atlantic/Faroe","Australia/South","Australia/Queensland","Australia/Yancowinna","Australia/North","Australia/Tasmania","Australia/Currie","Australia/LHI","Australia/Victoria","Australia/West","Australia/ACT","Australia/Canberra","Australia/NSW","Etc/GMT+0","Etc/GMT-0","Etc/GMT0","Etc/Greenwich","GMT","GMT+0","GMT-0","GMT0","Greenwich","Etc/UCT","Etc/Universal","Etc/Zulu","UCT","UTC","Universal","Zulu","EET","Atlantic/Jan_Mayen","CET","MET","Europe/Tiraspol","Eire","Asia/Istanbul","Turkey","Europe/Kyiv","Europe/Zaporozhye","Europe/Uzhgorod","Portugal","WET","Europe/Belfast","GB","GB-Eire","W-SU","Poland","Antarctica/South_Pole","NZ","NZ-CHAT","Chile/EasterIsland","Pacific/Pohnpei","US/Hawaii","Pacific/Johnston","HST","Pacific/Kanton","Kwajalein","Pacific/Samoa","US/Samoa","Pacific/Chuuk","Pacific/Yap","America/Fort_Wayne","Antarctica/Troll"],"type":"string","x-ms-visibility":"advanced","x-ms-summary":"Time zone","description":"The time zone of the document"},"engine":{"default":"Modern","enum":["Modern","Classic"],"type":"string","x-ms-visibility":"important","x-ms-summary":"Template engine","description":"The engine that will process the template"}},"additionalProperties":false},"ApplyHtmlFlowTemplateRequest":{"required":["data","html"],"type":"object","properties":{"html":{"format":"byte","type":"string","x-ms-visibility":"important","x-ms-summary":"Source HTML","description":"Text HTML template or HTML file template"},"data":{"type":"object","x-ms-summary":"Template data","description":"JSON data that should be applied to the template"},"locale":{"enum":["aa-DJ","aa-ER","aa-ET","af-NA","af-ZA","agq-CM","ak-GH","am-ET","ar-001","ar-AE","ar-BH","ar-DJ","ar-DZ","ar-EG","ar-ER","ar-IL","ar-IQ","ar-JO","ar-KM","ar-KW","ar-LB","ar-LY","ar-MA","ar-MR","ar-OM","ar-PS","ar-QA","ar-SA","ar-SD","ar-SO","ar-SS","ar-SY","ar-TD","ar-TN","ar-YE","arn-CL","as-IN","asa-TZ","ast-ES","az-Cyrl-AZ","az-Latn-AZ","ba-RU","bas-CM","be-BY","bem-ZM","bez-TZ","bg-BG","bm-ML","bn-BD","bn-IN","bo-CN","bo-IN","br-FR","brx-IN","bs-Cyrl-BA","bs-Latn-BA","byn-ER","ca-AD","ca-ES","ca-FR","ca-IT","ccp-BD","ccp-IN","ce-RU","ceb-PH","cgg-UG","chr-US","ckb-IQ","ckb-IR","co-FR","cs-CZ","cu-RU","cy-GB","da-DK","da-GL","dav-KE","de-AT","de-BE","de-CH","de-DE","de-IT","de-LI","de-LU","dje-NE","dsb-DE","dua-CM","dv-MV","dyo-SN","dz-BT","ebu-KE","ee-GH","ee-TG","el-CY","el-GR","en-001","en-150","en-AE","en-AG","en-AI","en-AS","en-AT","en-AU","en-BB","en-BE","en-BI","en-BM","en-BS","en-BW","en-BZ","en-CA","en-CC","en-CH","en-CK","en-CM","en-CX","en-CY","en-DE","en-DK","en-DM","en-ER","en-FI","en-FJ","en-FK","en-FM","en-GB","en-GD","en-GG","en-GH","en-GI","en-GM","en-GU","en-GY","en-HK","en-IE","en-IL","en-IM","en-IN","en-IO","en-JE","en-JM","en-KE","en-KI","en-KN","en-KY","en-LC","en-LR","en-LS","en-MG","en-MH","en-MO","en-MP","en-MS","en-MT","en-MU","en-MW","en-MY","en-NA","en-NF","en-NG","en-NL","en-NR","en-NU","en-NZ","en-PG","en-PH","en-PK","en-PN","en-PR","en-PW","en-RW","en-SB","en-SC","en-SD","en-SE","en-SG","en-SH","en-SI","en-SL","en-SS","en-SX","en-SZ","en-TC","en-TK","en-TO","en-TT","en-TV","en-TZ","en-UG","en-UM","en-US","en-US-POSIX","en-VC","en-VG","en-VI","en-VU","en-WS","en-ZA","en-ZM","en-ZW","eo-001","es-419","es-AR","es-BO","es-BR","es-BZ","es-CL","es-CO","es-CR","es-CU","es-DO","es-EC","es-ES","es-GQ","es-GT","es-HN","es-MX","es-NI","es-PA","es-PE","es-PH","es-PR","es-PY","es-SV","es-US","es-UY","es-VE","et-EE","eu-ES","ewo-CM","fa-AF","fa-IR","ff-Latn-BF","ff-Latn-CM","ff-Latn-GH","ff-Latn-GM","ff-Latn-GN","ff-Latn-GW","ff-Latn-LR","ff-Latn-MR","ff-Latn-NE","ff-Latn-NG","ff-Latn-SL","ff-Latn-SN","fi-FI","fil-PH","fo-DK","fo-FO","fr-BE","fr-BF","fr-BI","fr-BJ","fr-BL","fr-CA","fr-CD","fr-CF","fr-CG","fr-CH","fr-CI","fr-CM","fr-DJ","fr-DZ","fr-FR","fr-GA","fr-GF","fr-GN","fr-GP","fr-GQ","fr-HT","fr-KM","fr-LU","fr-MA","fr-MC","fr-MF","fr-MG","fr-ML","fr-MQ","fr-MR","fr-MU","fr-NC","fr-NE","fr-PF","fr-PM","fr-RE","fr-RW","fr-SC","fr-SN","fr-SY","fr-TD","fr-TG","fr-TN","fr-VU","fr-WF","fr-YT","fur-IT","fy-NL","ga-IE","gd-GB","gl-ES","gn-PY","gsw-CH","gsw-FR","gsw-LI","gu-IN","guz-KE","gv-IM","ha-GH","ha-NE","ha-NG","haw-US","he-IL","hi-IN","hr-BA","hr-HR","hsb-DE","hu-HU","hy-AM","ia-001","id-ID","ig-NG","ii-CN","is-IS","it-CH","it-IT","it-SM","it-VA","iu-CA","iu-Latn-CA","ja-JP","jgo-CM","jmc-TZ","jv-ID","ka-GE","kab-DZ","kam-KE","kde-TZ","kea-CV","khq-ML","ki-KE","kk-KZ","kkj-CM","kl-GL","kln-KE","km-KH","kn-IN","ko-KP","ko-KR","kok-IN","ks-IN","ksb-TZ","ksf-CM","ksh-DE","kw-GB","ky-KG","lag-TZ","lb-LU","lg-UG","lkt-US","ln-AO","ln-CD","ln-CF","ln-CG","lo-LA","lrc-IQ","lrc-IR","lt-LT","lu-CD","luo-KE","luy-KE","lv-LV","mas-KE","mas-TZ","mer-KE","mfe-MU","mg-MG","mgh-MZ","mgo-CM","mi-NZ","mk-MK","ml-IN","mn-MN","mn-Mong-CN","mn-Mong-MN","moh-CA","mr-IN","ms-BN","ms-MY","ms-SG","mt-MT","mua-CM","my-MM","mzn-IR","naq-NA","nb-NO","nb-SJ","nd-ZW","nds-DE","nds-NL","ne-IN","ne-NP","nl-AW","nl-BE","nl-BQ","nl-CW","nl-NL","nl-SR","nl-SX","nmg-CM","nn-NO","nnh-CM","nqo-GN","nr-ZA","nso-ZA","nus-SS","nyn-UG","oc-FR","om-ET","om-KE","or-IN","os-GE","os-RU","pa-Arab-PK","pa-Guru-IN","pl-PL","prg-001","ps-AF","ps-PK","pt-AO","pt-BR","pt-CH","pt-CV","pt-GQ","pt-GW","pt-LU","pt-MO","pt-MZ","pt-PT","pt-ST","pt-TL","qu-BO","qu-EC","qu-PE","quc-GT","rm-CH","rn-BI","ro-MD","ro-RO","rof-TZ","ru-BY","ru-KG","ru-KZ","ru-MD","ru-RU","ru-UA","rw-RW","rwk-TZ","sa-IN","sah-RU","saq-KE","sbp-TZ","sd-PK","se-FI","se-NO","se-SE","seh-MZ","ses-ML","sg-CF","shi-Latn-MA","shi-Tfng-MA","si-LK","sk-SK","sl-SI","sma-NO","sma-SE","smj-NO","smj-SE","smn-FI","sms-FI","sn-ZW","so-DJ","so-ET","so-KE","so-SO","sq-AL","sq-MK","sq-XK","sr-Cyrl-BA","sr-Cyrl-ME","sr-Cyrl-RS","sr-Cyrl-XK","sr-Latn-BA","sr-Latn-ME","sr-Latn-RS","sr-Latn-XK","ss-SZ","ss-ZA","ssy-ER","st-LS","st-ZA","sv-AX","sv-FI","sv-SE","sw-CD","sw-KE","sw-TZ","sw-UG","syr-SY","ta-IN","ta-LK","ta-MY","ta-SG","te-IN","teo-KE","teo-UG","tg-TJ","th-TH","ti-ER","ti-ET","tig-ER","tk-TM","tn-BW","tn-ZA","to-TO","tr-CY","tr-TR","ts-ZA","tt-RU","twq-NE","tzm-MA","ug-CN","uk-UA","ur-IN","ur-PK","uz-Arab-AF","uz-Cyrl-UZ","uz-Latn-UZ","vai-Latn-LR","vai-Vaii-LR","ve-ZA","vi-VN","vo-001","vun-TZ","wae-CH","wal-ET","wo-SN","xh-ZA","xog-UG","yav-CM","yi-001","yo-BJ","yo-NG","zgh-MA","zh-Hans-CN","zh-Hans-HK","zh-Hans-MO","zh-Hans-SG","zh-Hant-HK","zh-Hant-MO","zh-Hant-TW","zu-ZA"],"type":"string","x-ms-visibility":"advanced","x-ms-summary":"Locale","description":"The locale that will be applyed to the document"},"timezone":{"enum":["Australia/Darwin","Australia/Sydney","Australia/Melbourne","Asia/Kabul","America/Anchorage","America/Juneau","America/Metlakatla","America/Nome","America/Sitka","America/Yakutat","America/Adak","Asia/Barnaul","Asia/Riyadh","Asia/Bahrain","Asia/Kuwait","Asia/Qatar","Asia/Aden","Asia/Dubai","Asia/Muscat","Etc/GMT-4","Asia/Baghdad","America/Buenos_Aires","America/Argentina/La_Rioja","America/Argentina/Rio_Gallegos","America/Argentina/Salta","America/Argentina/San_Juan","America/Argentina/San_Luis","America/Argentina/Tucuman","America/Argentina/Ushuaia","America/Catamarca","America/Cordoba","America/Jujuy","America/Mendoza","Europe/Astrakhan","Europe/Ulyanovsk","America/Halifax","Atlantic/Bermuda","America/Glace_Bay","America/Goose_Bay","America/Moncton","America/Thule","Australia/Eucla","Asia/Baku","Atlantic/Azores","America/Scoresbysund","America/Bahia","Asia/Dhaka","Asia/Thimphu","Europe/Minsk","Pacific/Bougainville","America/Regina","America/Swift_Current","Atlantic/Cape_Verde","Etc/GMT+1","Asia/Yerevan","Australia/Adelaide","Australia/Broken_Hill","America/Guatemala","America/Belize","America/Costa_Rica","Pacific/Galapagos","America/Tegucigalpa","America/Managua","America/El_Salvador","Etc/GMT+6","Asia/Bishkek","Antarctica/Vostok","Asia/Urumqi","Indian/Chagos","Etc/GMT-6","America/Cuiaba","America/Campo_Grande","Europe/Budapest","Europe/Tirane","Europe/Prague","Europe/Podgorica","Europe/Belgrade","Europe/Ljubljana","Europe/Bratislava","Europe/Warsaw","Europe/Sarajevo","Europe/Zagreb","Europe/Skopje","Pacific/Guadalcanal","Antarctica/Casey","Pacific/Ponape","Pacific/Kosrae","Pacific/Noumea","Pacific/Efate","Etc/GMT-11","America/Mexico_City","America/Bahia_Banderas","America/Merida","America/Monterrey","America/Chihuahua","America/Chicago","America/Winnipeg","America/Rankin_Inlet","America/Resolute","America/Matamoros","America/Ojinaga","America/Indiana/Knox","America/Indiana/Tell_City","America/Menominee","America/North_Dakota/Beulah","America/North_Dakota/Center","America/North_Dakota/New_Salem","Pacific/Chatham","Asia/Shanghai","Asia/Hong_Kong","Asia/Macau","America/Havana","Etc/GMT+12","Africa/Nairobi","Antarctica/Syowa","Africa/Djibouti","Africa/Asmera","Africa/Addis_Ababa","Indian/Comoro","Indian/Antananarivo","Africa/Mogadishu","Africa/Dar_es_Salaam","Africa/Kampala","Indian/Mayotte","Etc/GMT-3","Australia/Brisbane","Australia/Lindeman","Europe/Chisinau","America/Sao_Paulo","Pacific/Easter","America/Cancun","America/New_York","America/Nassau","America/Toronto","America/Iqaluit","America/Detroit","America/Indiana/Petersburg","America/Indiana/Vincennes","America/Indiana/Winamac","America/Kentucky/Monticello","America/Louisville","Africa/Cairo","Asia/Yekaterinburg","Europe/Kiev","Europe/Mariehamn","Europe/Sofia","Europe/Tallinn","Europe/Helsinki","Europe/Vilnius","Europe/Riga","Pacific/Fiji","Europe/London","Atlantic/Canary","Atlantic/Faeroe","Europe/Guernsey","Europe/Dublin","Europe/Isle_of_Man","Europe/Jersey","Europe/Lisbon","Atlantic/Madeira","Europe/Bucharest","Asia/Nicosia","Asia/Famagusta","Europe/Athens","Asia/Tbilisi","America/Godthab","Atlantic/Reykjavik","Atlantic/St_Helena","Africa/Ouagadougou","Africa/Abidjan","Africa/Accra","America/Danmarkshavn","Africa/Banjul","Africa/Conakry","Africa/Bissau","Africa/Monrovia","Africa/Bamako","Africa/Nouakchott","Africa/Freetown","Africa/Dakar","Africa/Lome","America/Port-au-Prince","Pacific/Honolulu","Pacific/Rarotonga","Pacific/Tahiti","Etc/GMT+10","Asia/Calcutta","Asia/Tehran","Asia/Jerusalem","Asia/Amman","Europe/Kaliningrad","Asia/Seoul","Africa/Tripoli","Pacific/Kiritimati","Etc/GMT-14","Australia/Lord_Howe","Asia/Magadan","America/Punta_Arenas","America/Coyhaique","Pacific/Marquesas","Indian/Mauritius","Indian/Reunion","Indian/Mahe","Asia/Beirut","America/Montevideo","Africa/Casablanca","Africa/El_Aaiun","America/Mazatlan","America/Denver","America/Edmonton","America/Cambridge_Bay","America/Inuvik","America/Ciudad_Juarez","America/Boise","Asia/Rangoon","Indian/Cocos","Asia/Novosibirsk","Africa/Windhoek","Asia/Katmandu","Pacific/Auckland","Antarctica/McMurdo","America/St_Johns","Pacific/Norfolk","Asia/Irkutsk","Asia/Krasnoyarsk","Asia/Novokuznetsk","Asia/Pyongyang","Asia/Omsk","America/Santiago","America/Tijuana","America/Los_Angeles","America/Vancouver","Asia/Karachi","America/Asuncion","Asia/Qyzylorda","Europe/Paris","Europe/Brussels","Europe/Copenhagen","Africa/Ceuta","Europe/Madrid","Asia/Srednekolymsk","Asia/Kamchatka","Asia/Anadyr","Europe/Samara","Europe/Moscow","Europe/Kirov","Europe/Simferopol","America/Cayenne","Antarctica/Rothera","Antarctica/Palmer","America/Fortaleza","America/Belem","America/Maceio","America/Recife","America/Santarem","Atlantic/Stanley","America/Paramaribo","Etc/GMT+3","America/Bogota","America/
[...]
