{"swagger":"2.0","info":{"title":"Universal Print","description":"Print to your work or school printers that are shared through Universal Print. Universal Print is a cloud-based print solution that enables simple, rich, and secure printing experiences while reducing time and effort for IT.","version":"1.0","contact":{"name":"Universal Print","url":"https://www.microsoft.com/en-us/microsoft-365/windows/universal-print","email":"updev@microsoft.com"},"x-ms-api-annotation":{"status":"Preview"}},"host":"logic-apis-westus.azure-apim.net","basePath":"/apim/universalprint","schemes":["https"],"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://www.microsoft.com/en-us/microsoft-365/windows/universal-print"},{"propertyName":"Privacy policy","propertyValue":"https://learn.microsoft.com/en-us/universal-print/fundamentals/user-privacy-personal-data"},{"propertyName":"Categories","propertyValue":"Productivity"}],"consumes":[],"produces":[],"paths":{"/{connectionId}/beta/me/print/recentPrinterShares":{"get":{"summary":"List recently used shares","description":"List recently used printer shares.","operationId":"ListRecentShares","consumes":[],"parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"}],"x-ms-visibility":"internal","responses":{"default":{"description":"Operation Failed."},"200":{"description":"Print job submitted successfully.","schema":{"type":"object","description":"The response for listing printer shares.","properties":{"value":{"description":"The list of printer shares","type":"array","items":{"description":"Represents a table as dynamic value item.","type":"object","properties":{"id":{"description":"The printer ID.","type":"string"},"displayName":{"description":"The printer name.","type":"string"}}}}}}}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/universalprint/#list-recently-used-shares"}}},"/{connectionId}/v1.0/print/shares":{"get":{"summary":"List shares","description":"List all printer shares.","operationId":"ListShares","consumes":[],"parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"}],"x-ms-visibility":"internal","responses":{"default":{"description":"Operation Failed."},"200":{"description":"Printer information received.","schema":{"type":"object","description":"The response for listing printer shares.","properties":{"value":{"description":"The list of printer shares","type":"array","items":{"description":"Represents a table as dynamic value item.","type":"object","properties":{"id":{"description":"The printer ID.","type":"string"},"displayName":{"description":"The printer name.","type":"string"}}}}}}}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/universalprint/#list-shares"}},"post":{"summary":"Print PDF","description":"Prints the given pdf.","operationId":"PrintFile","consumes":[],"parameters":[{"name":"connectionId","in":"path","required":true,"type":"string","x-ms-visibility":"internal"},{"name":"printer","x-ms-summary":"Printer name","description":"The name of the printer.","type":"string","x-ms-visibility":"important","required":true,"in":"query","x-ms-dynamic-values":{"operationId":"ListRecentShares","parameters":{},"value-collection":"value","value-title":"displayName","value-path":"id"},"x-ms-dynamic-list":{"operationId":"ListRecentShares","itemsPath":"value","itemValuePath":"id","itemTitlePath":"displayName","parameters":{}}},{"name":"body","x-ms-summary":"File","description":"The file to print.","schema":{"format":"binary","type":"string"},"in":"body","required":true,"x-ms-visibility":"important"},{"name":"fileName","x-ms-summary":"File name","description":"The name of file.","type":"string","in":"query","required":true,"x-ms-visibility":"important"},{"name":"configuration_copies","x-ms-summary":"Copies","description":"The number of copies that should be printed.","type":"integer","default":1,"in":"query","x-ms-visibility":"important"},{"name":"configuration_orientation","x-ms-summary":"Orientation","description":"The direction in which document is displayed.","type":"string","enum":["Landscape","Portrait","Reverse landscape","Reverse portrait"],"in":"query","x-ms-visibility":"important"},{"name":"configuration_colorMode","x-ms-summary":"Color","description":"The color configuration to print the job.","type":"string","enum":["Color","Black and white","Grayscale","Auto"],"in":"query","x-ms-visibility":"important"},{"name":"configuration_mediaSize","x-ms-summary":"Paper size","description":"The page size for the paper or other print media.","type":"string","in":"query","x-ms-visibility":"important"},{"name":"configuration_duplexMode","x-ms-summary":"Print on both sides","description":"The setting to print one-sided jobs or double-sided jobs.","type":"string","enum":["One sided","Flip on long edge","Flip on short edge"],"in":"query","x-ms-visibility":"important"},{"name":"configuration_pagesPerSheet","x-ms-summary":"Pages per sheet","description":"The number of input Pages to impose upon a single Impression.","type":"integer","in":"query","x-ms-visibility":"important"},{"name":"configuration_dpi","x-ms-summary":"Resolution","description":"The resolution to use when printing the job.","type":"integer","in":"query","x-ms-visibility":"advanced"},{"name":"configuration_quality","x-ms-summary":"Quality","description":"The print quality to process a print job.","type":"string","enum":["Low","Medium","High"],"in":"query","x-ms-visibility":"advanced"},{"name":"configuration_mediaType","x-ms-summary":"Media type","description":"The type of media to use.","type":"string","in":"query","x-ms-visibility":"advanced"},{"name":"configuration_finishings","x-ms-summary":"Finishing","description":"The finishing processes to apply to the printed document.","type":"array","items":{"type":"string","enum":["None","Punch","Cover","Bind","Staple","Staple top left","Staple bottom left","Staple top right","Staple bottom right","Staple dual left","Staple dual top","Staple dual right","Staple dual bottom","Saddle stitch","Stitch edge","Stitch left edge","Stitch top edge","Stitch right edge","Stitch bottom edge"]},"in":"query","x-ms-visibility":"advanced"}],"responses":{"default":{"description":"Print job submitted successfully.","schema":{"type":"object","properties":{"statusCode":{"x-ms-summary":"Print PDF status code","description":"The status code for 'Print PDFs', '200' if the PDF is ready to release at the printer.","type":"integer"},"status":{"x-ms-summary":"Print PDF action status","description":"The status for 'Print PDFs', 'Success' if the PDF is ready to release at the printer and 'Error' otherwise.","type":"string"},"message":{"x-ms-summary":"Print PDF status message","description":"The status message for 'Print PDFs'.","type":"string"}}}}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/universalprint/#print-pdf"}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","tokenUrl":"https://login.windows.net/common/oauth2/authorize","authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","scopes":{}}},"security":[],"tags":[],"externalDocs":{"url":"https://docs.microsoft.com/connectors/universalprint"}}