{"swagger":"2.0","info":{"version":"1.0","title":"Word Online (Business)","description":"Word Online (Business) connector lets you work with Word files in document libraries supported by Microsoft Graph (OneDrive for Business, SharePoint Online Sites, and Office 365 Groups).","contact":{"name":"Microsoft","url":"https://learn.microsoft.com/en-us/connectors/wordonlinebusiness/","email":"idcknowledgeeco@microsoft.com"},"x-ms-api-annotation":{"status":"Production"}},"host":"logic-apis-westus.azure-apim.net","basePath":"/apim/wordonlinebusiness","schemes":["https"],"consumes":["application/json"],"produces":["application/json"],"paths":{"/{connectionId}/api/templates/schema":{"get":{"summary":"Fetches the schema of the selected file","description":"Fetches the schema of the selected file.","operationId":"GetFileSchema","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"source","in":"query","required":true,"type":"string","default":"me"},{"name":"drive","in":"query","required":true,"type":"string","default":"me"},{"name":"file","in":"query","required":true,"type":"string","default":"file"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#fetches-the-schema-of-the-selected-file"}}},"/{connectionId}/api/templates/getFile":{"post":{"summary":"Populate a Microsoft Word template","description":"Reads a Microsoft Word template to then fill the template fields with selected dynamic values to generate a Word Document.","operationId":"CreateFileItem","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"$ref":"#/parameters/source"},{"$ref":"#/parameters/queryDrive"},{"$ref":"#/parameters/file"},{"name":"dynamicFileSchema","in":"body","description":"Dynamic Schema of items in selected File","schema":{"type":"object","x-ms-dynamic-schema":{"operationId":"GetFileSchema","parameters":{"source":{"parameter":"source"},"drive":{"parameter":"drive"},"file":{"parameter":"file"}},"value-path":"items"}}}],"responses":{"201":{"description":"Created","schema":{"format":"binary","title":"Microsoft Word document","type":"string","x-ms-visibility":"important"}}},"deprecated":false,"externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#populate-a-microsoft-word-template"}}},"/{connectionId}/api/templates/createWordFileWithContent":{"post":{"summary":"Create a Microsoft Word document with the given content","description":"Creates a Microsoft Word file with the given content in the root directory (use only from Copilot Studio)","x-ms-name-for-model":"create_word_file_with_content","x-ms-description-for-model":"Use tool to create a new Word document from text gotten directly or inferred from user prompts, conversation or instructions. IMPORTANT: If the user specifies a filename, you MUST pass it as the 'fileName' parameter separately — do not embed it in the content. Example user intent: create a Word document with this summary, make a report doc that I can download.","operationId":"CreateWordFileWithContent","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"content","in":"body","description":"Content to be saved in the file","required":true,"schema":{"$ref":"#/definitions/ContentBody"}},{"name":"fileName","in":"query","description":"Name of the file","required":false,"x-ms-summary":"File Name","x-ms-name-for-model":"create_word_file_with_content_file_name","x-ms-description-for-model":"Set to the Word document file name, usually with a .docx extension, when the user cares about the name. Example: Project-Status-Report-Nov-2025.docx. Do not include invalid characters such as / \\\\ : * ? \\\" < >.","type":"string","default":""}],"responses":{"201":{"description":"Created","schema":{"format":"string","title":"Microsoft Word document URL","type":"string","x-ms-visibility":"important"}}},"deprecated":false,"x-ms-visibility":"important","x-ms-agent-visibility":"featured","externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#create-a-microsoft-word-document-with-the-given-content"}}},"/{connectionId}/codeless/v1.0/sources":{"get":{"summary":"Get sources","description":"Get a list of sources.","operationId":"GetSources","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"$top","in":"query","description":"Top.","required":false,"x-ms-summary":"Top","x-ms-visibility":"internal","type":"string","default":""},{"name":"$select","in":"query","description":"Select.","required":false,"x-ms-summary":"Select","x-ms-visibility":"internal","type":"string"}],"responses":{"200":{"description":"Operation is successful.","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"title":"Id","description":"Id.","type":"string","x-ms-summary":"Id"},"displayName":{"title":"Name","description":"Name.","type":"string","x-ms-summary":"Name"}}}}}}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#get-sources"}}},"/{connectionId}/codeless/v1.0/drives":{"get":{"summary":"Get drives","description":"Get a list of drives.","operationId":"GetDrives","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"name":"source","in":"query","description":"Select from the drop-down or specify one of the following:\r\n              - \"me\"\r\n              - \"SharePoint Site URL\"\r\n              - \"users/someone's UPN\"\r\n              - \"groups/group Id\"\r\n              - \"sites/SharePoint Site URL:/teams/team name:\" (colons are required).","required":true,"x-ms-summary":"Location","x-ms-dynamic-values":{"operationId":"GetSources","value-path":"id","value-title":"displayName","value-collection":"value","parameters":{"$select":"id,displayName","$top":"999"}},"x-ms-visibility":"internal","type":"string","default":"me"},{"name":"$select","in":"query","description":"Select.","required":false,"x-ms-summary":"Select","x-ms-visibility":"internal","type":"string","default":""}],"responses":{"200":{"description":"Operation is successful.","schema":{"type":"object","properties":{"value":{"type":"array","items":{"type":"object","properties":{"id":{"title":"Id","description":"Drive Id.","type":"string","x-ms-summary":"Id"},"name":{"title":"Name","description":"Drive name.","type":"string","x-ms-summary":"Name"}}}}}}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#get-drives"}}},"/{connectionId}/codeless/v1.0/drives/{drive}/root/children":{"get":{"summary":"List the root folder","description":"List the root folder.","operationId":"ListRootFolder","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"$ref":"#/parameters/source"},{"$ref":"#/parameters/drive"}],"responses":{"200":{"description":"Operation is successful.","schema":{"type":"array","items":{"$ref":"#/definitions/BlobMetadata"}}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#list-the-root-folder"}}},"/{connectionId}/codeless/v1.0/drives/{drive}/items/{id}/children":{"get":{"summary":"List blobs under a given folder","description":"List blobs under a given folder.","operationId":"ListFolder","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"$ref":"#/parameters/source"},{"$ref":"#/parameters/drive"},{"name":"id","in":"path","description":"Folder Id.","required":true,"x-ms-summary":"Folder","x-ms-dynamic-values":{"capability":"file-picker","parameters":{"source":{"parameter":"source"},"drive":{"parameter":"drive"},"isFolder":true,"fileFilter":[]},"value-path":"Id"},"x-ms-dynamic-tree":{"settings":{"canSelectParentNodes":true,"canSelectLeafNodes":false},"open":{"operationId":"ListRootFolder","parameters":{"source":{"parameterReference":"source"},"drive":{"parameterReference":"drive"}},"itemValuePath":"Id","itemTitlePath":"DisplayName","itemFullTitlePath":"Path","itemIsParent":"(IsFolder eq true)"},"browse":{"operationId":"ListFolder","parameters":{"id":{"selectedItemValuePath":"Id"},"source":{"parameterReference":"source"},"drive":{"parameterReference":"drive"}},"itemValuePath":"Id","itemTitlePath":"DisplayName","itemFullTitlePath":"Path","itemIsParent":"(IsFolder eq true)"}},"type":"string"}],"responses":{"200":{"description":"Operation is successful.","schema":{"type":"array","items":{"$ref":"#/definitions/BlobMetadata"}}},"default":{"description":"Operation Failed."}},"deprecated":false,"x-ms-visibility":"internal","externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#list-blobs-under-a-given-folder"}}},"/{connectionId}/api/templates/convertFile":{"get":{"summary":"Convert Word Document to PDF","description":"Gets a PDF version of the selected file","operationId":"GetFilePDF","parameters":[{"name":"connectionId","in":"path","required":true,"x-ms-visibility":"internal","type":"string"},{"$ref":"#/parameters/source"},{"$ref":"#/parameters/queryDrive"},{"$ref":"#/parameters/file"},{"name":"extractSensitivityLabel","in":"query","description":"Select if you want to extract Sensitivity label ( false, true).","required":false,"x-ms-summary":"Extract Sensitivity Label","type":"boolean"},{"name":"fetchSensitivityLabelMetadata","in":"query","required":false,"description":"A boolean whether to fetch sensitivity label Metadata for associated LabelId.","x-ms-summary":"Sensitivity Label Metadata","type":"boolean"},{"name":"format","in":"query","description":"Format of the content","required":true,"type":"string","default":"pdf","x-ms-visibility":"internal"}],"responses":{"200":{"description":"Operation is successful.","headers":{"x-ms-content-sensitivitylabel-id":{"description":"Sensitivity Label id for item content.","type":"string"},"x-ms-content-sensitivitylabelInfo":{"description":"Sensitivity Label Metadata for response. [{\"sensitivityLabelId\": \"f42aa342-8706-4288-bd11-ebb85995028c\", \"name\": \"Internal\", \"displayName\": \"General\", \"tooltip\": \"Business data which is NOT meant for public consumption. This can be shared with internal employees, business guests and external partners as needed.\", \"priority\": 2, \"color\": \"#0078D7\", \"isEncrypted\": false, \"isEnabled\": true, \"isParent\": false, \"parentSensitivityLabelId\": \"\"}]","type":"string"}},"schema":{"format":"binary","title":"PDF document","type":"string","x-ms-visibility":"important"}},"default":{"description":"Operation Failed."}},"externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness/#convert-word-document-to-pdf"}}}},"definitions":{"SensitivityLabelMetadata":{"type":"array","items":{"type":"object","properties":{"sensitivityLabelId":{"type":"string","description":"SensitivityLabel Id.","x-ms-summary":"SensitivityLabel Id","title":"sensitivityLabelId"},"name":{"type":"string","description":"SensitivityLabel name.","x-ms-summary":"name","title":"name"},"displayName":{"type":"string","description":"SensitivityLabel displayName info","x-ms-summary":"SensitivityLabel displayName info","title":"displayName"},"tooltip":{"type":"string","description":"SensitivityLabel details on tooltip.","x-ms-summary":"tooltip info","title":"tooltip"},"priority":{"type":"integer","format":"int32","description":"SensitivityLabel priority.","x-ms-summary":"priority of SensitivityLabel","title":"priority"},"color":{"type":"string","description":"SensitivityLabel color.","x-ms-summary":"color to be displayed for SensitivityLabel.","title":"color"},"isEncrypted":{"type":"boolean","description":"is SensitivityLabel Encrypted.","x-ms-summary":"isEncrypted status of SensitivityLabel","title":"isEncrypted"},"isEnabled":{"type":"boolean","description":"Whether SensitivityLabel is Enabled.","x-ms-summary":"Whether SensitivityLabel is Enabled.","title":"isEnabled"},"isParent":{"type":"boolean","description":"Whether SensitivityLabel is Parent.","x-ms-summary":"Whether SensitivityLabel is Parent","title":"isParent"},"parentSensitivityLabelId":{"type":"string","description":"Parent SensitivityLabel Id.","x-ms-summary":"Parent SensitivityLabel Id","title":"parentSensitivityLabelId"}}}},"GetFiles":{"type":"array","items":{"required":["id","name"],"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}}},"BlobMetadata":{"description":"Blob metadata","type":"object","properties":{"Id":{"description":"The unique identifier of the file or folder.","type":"string","x-ms-summary":"Id"},"Name":{"description":"The name of the file or folder.","type":"string","x-ms-summary":"Name"},"DisplayName":{"description":"The display name of the file or folder.","type":"string","x-ms-summary":"Display name"},"Path":{"description":"The path of the file or folder.","type":"string","x-ms-summary":"Path"},"MediaType":{"description":"The media type of the file or folder.","type":"string","x-ms-summary":"Media type"},"IsFolder":{"description":"A boolean value (true, false) to indicate whether or not the blob is a folder.","type":"boolean","x-ms-summary":"Is folder?"},"FileLocator":{"description":"The file locator of the file or folder.","type":"string","x-ms-summary":"File locator"}}},"ContentBody":{"description":"Content for the word document","type":"object","required":["content"],"properties":{"content":{"type":"string","description":"Content of the word document","x-ms-summary":"Content","x-ms-visibility":"important","x-ms-name-for-model":"create_word_file_with_content_content","x-ms-description-for-model":"Set to a single plain text string that contains all document content in order, with headings, paragraphs, and lists separated by line breaks. You MUST NOT use HTML, markdown, RTF, base64, file IDs, or links. Example: \"Project status report for Q4 2025\\n\\nOverview:\\n- Revenue grew 10%\\n- Costs remained flat\\n\\nNext steps:\\n1) Finalize budget\\n2) Confirm launch date\""}}}},"securityDefinitions":{"oauth2_auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{"Files.Read":"Files.Read","Files.ReadWrite":"Files.ReadWrite","Files.Read.All":"Files.Read.All","Files.ReadWrite.All":"Files.ReadWrite.All"}}},"security":[{"oauth2_auth":["Files.Read","Files.ReadWrite","Files.Read.All","Files.ReadWrite.All"]}],"x-ms-capabilities":{"file-picker":{"open":{"operationId":"ListRootFolder","parameters":{"source":{"parameter":"source"},"drive":{"parameter":"drive"}}},"browse":{"operationId":"ListFolder","parameters":{"source":{"parameter":"source"},"drive":{"parameter":"drive"},"id":{"value-property":"Id"}}},"value-title":"DisplayName","value-folder-property":"IsFolder","value-media-property":"MediaType"}},"parameters":{"source":{"name":"source","in":"query","required":true,"type":"string","x-ms-summary":"Location","description":"Select from the drop-down or specify one of the following:\r\n              - \"me\"\r\n              - \"SharePoint Site URL\"\r\n              - \"users/someone's UPN\"\r\n              - \"groups/group Id\"\r\n              - \"sites/SharePoint Site URL:/teams/team name:\" (colons are required).","x-ms-dynamic-values":{"operationId":"GetSources","value-path":"id","value-collection":"value","value-title":"displayName","parameters":{"$select":"id,displayName","$top":"999"}}},"drive":{"name":"drive","in":"path","required":true,"type":"string","description":"Select a document library from the drop-down.","x-ms-summary":"Document Library","x-ms-dynamic-values":{"operationId":"GetDrives","value-path":"id","value-collection":"value","value-title":"name","parameters":{"source":{"parameter":"source"},"$select":"id,name"}}},"queryDrive":{"name":"drive","in":"query","description":"Select a document library from the drop-down.","required":true,"x-ms-summary":"Document Library","x-ms-dynamic-values":{"operationId":"GetDrives","parameters":{"source":{"parameter":"source"},"$select":"id,name"},"value-collection":"value","value-path":"id","value-title":"name"},"type":"string"},"file":{"name":"file","in":"query","description":"Select a Word file through File Browse.","required":true,"x-ms-summary":"File","x-ms-dynamic-values":{"capability":"file-picker","parameters":{"isFolder":false,"fileFilter":["application/vnd.openxmlformats-officedocument.wordprocessingml.document"],"source":{"parameter":"source"},"drive":{"parameter":"drive"},"dataset":null},"value-path":"Id"},"x-ms-dynamic-tree":{"settings":{"canSelectParentNodes":false,"canSelectLeafNodes":true},"open":{"operationId":"ListRootFolder","parameters":{"source":{"parameterReference":"source"},"drive":{"parameterReference":"drive"}},"itemValuePath":"Id","itemTitlePath":"DisplayName","itemFullTitlePath":"Path","itemIsParent":"(IsFolder eq true)","selectableFilter":"(MediaType eq 'application/vnd.openxmlformats-officedocument.wordprocessingml.document')"},"browse":{"operationId":"ListFolder","parameters":{"id":{"selectedItemValuePath":"Id"},"source":{"parameterReference":"source"},"drive":{"parameterReference":"drive"}},"itemValuePath":"Id","itemTitlePath":"DisplayName","itemFullTitlePath":"Path","itemIsParent":"(IsFolder eq true)","selectableFilter":"(MediaType eq 'application/vnd.openxmlformats-officedocument.wordprocessingml.document')"}},"type":"string"}},"x-ms-connector-metadata":[{"propertyName":"Website","propertyValue":"https://products.office.com/en-us/word"},{"propertyName":"Privacy policy","propertyValue":"https://privacy.microsoft.com/en-us/privacystatement"},{"propertyName":"Categories","propertyValue":"Content and Files"}],"externalDocs":{"url":"https://docs.microsoft.com/connectors/wordonlinebusiness"}}